<p class="lead description">
  <%= deliverable.description %>
</p>

<% if deliverable.assignment.can_submit?(current_user) %>
  <%= render 'submissions/form',
        submission: Submission.new(deliverable: deliverable) %>
<% end %>

<section class="student-submissions-list">
  <% if submissions.length > 0 %>
  <ol class="no-bullet">
    <% submissions.map do |submission| %>
    <%= render 'deliverables/student_submission_list_entry',
          submission: submission %>
    <% end %>
  </ol>
  <% else %>
    <%= render 'deliverables/no_submission' %>
  <% end %>
</section>
