<div class="summary">
  <span class="name"><%= deliverable.name %></span>
  <div class="new">
    <% if submission.user == current_user %>
      <%= render 'submissions/form',
            submission: Submission.new(deliverable: deliverable) %>
    <% end %>
  </div>
</div>
<div class="details">
  <p class="description">
    <%= deliverable.description %>
  </p>
  <p class="submission" data-pwnfx-scope="submission-info"
                        data-pwnfx-delayed-target="submission-info">
    <%= render 'submissions/info', submission: submission %>
  </p>
</div>
