<% submissions = deliverable.submissions.includes(:analysis, :subject).
                                         order(updated_at: :desc) %>
<ol class="submission-list">
  <% submissions.each do |submission| %>
  <li>
    <%= submission_figure submission %>
  </li>
<% end %>
<% if submissions.any? { |s| s.analysis && s.analysis.status_will_change? } %>
  <%= content_tag :li, ajax_spinner_image_tag, data: {
        pwnfx_delayed: 'submission-states', pwnfx_delayed_method: 'GET',
        pwnfx_delayed_scope: 'submissions-list', pwnfx_delayed_ms: 5000,
        pwnfx_delayed_url: submission_dashboard_deliverable_path(deliverable,
        course_id: deliverable.course) } %>
<% end %>
</ol>
