<li class="submission-list-entry">
<% if submission.analysis %>
  <%= link_to submission_figure(submission), analysis_path(submission.analysis,
        course_id: submission.course) %>
<% else %>
  <%= submission_figure submission %>
<% end %>
</li>
