<% if user.profile %>
<%= render 'profiles/show', :profile => user.profile %>
<% else %>
<div class="profile-container">
<h3>No profile
	<% if Profile.new(:user => user).editable_by_user?(current_user) %>
  <%= link_to_remote 'Create profile',
        :url => new_profile_path(:user_id => user),
        :method => :get, :before => update_page { |p|
           p.replace_html 'profile-ajax-indicator', loading_image_tag
        } %>
	<% end %>
  <span id="profile-ajax-indicator"></span>
</h3>
</div>
<% end %>
