<div class="profile-container">
<h3>
  Profile
  <% if profile.editable_by_user?(current_user) %>
  <%= link_to image_tag('pencil_18.png'), edit_profile_path(profile),
        :method => :get, :remote => true %>
  <% end %>
  <span id="profile-ajax-indicator"></span>
</h3>
<%= render profile %>
</div>
