<div class="profile-container">
<h3>
  Profile
  <% if profile.editable_by_user?(@s_user) %>
  <%= link_to_remote 'Edit', :url => edit_profile_path(profile),
        :method => :get, :before => update_page { |p|
           p.replace_html 'profile-ajax-indicator', loading_image_tag
        } %>
  <% end %>
	<span id="profile-ajax-indicator"></span>
</h3>
<%= render profile %>
</div>
