<div class="profile-container">
<% if profile.can_edit? current_user %>
<p>
  <%= link_to edit_user_path(profile.user), class: 'button' do %>
    <%= edit_icon_tag %> Edit Profile
  <% end %>
</p>
<% end %>

<%= render profile %>
</div>
