<div class="profile-container">
<% if profile.editable_by_user?(current_user) %>
<p>
  <%= link_to edit_profile_path(profile), :class => 'button' do %>
    <%= image_tag('pencil_16.png') %> Edit Profile
  <% end %>
  <span id="profile-ajax-indicator"></span>
</p>
<% end %>

<%= render profile %>
</div>
