<% if false %>
<div class="full_section">	
	<h3 class="full_section">Submit Assignment</h3>
	
<%= render :partial => 'submissions/new' %>
</div>
<% end %>

<%= render :partial => 'layouts/newsfeed' %>
