---
ansible:
  use_hostnames: False
  expand_hostvars: False

clouds:
  test:
    auth:
      auth_url: https://nimbus.csail.mit.edu:5001/v2.0
      username: costan@csail.mit.edu
      password: mysekretpassword
      project_name: usersandbox_costan
    region_name: CSAIL_Stata
