<!-- team_partitions/show -->
<h1 class="form_title">Team partition <%= @team_partition.name %></h1>

<ul>
	<% @team_partition.teams.each do |team| %>
	<li>
		<%= render :partial => 'teams/show', :locals => { :team => team } %>
	</li>
	<% end %>
</ul>

<div class="full_section">  
<h1 class="full_section">Add Team</h1>
<%= render :partial => 'teams/form' %>
</div>
