<!-- team_partitions/show -->
<h1 class="form_title">Team partition <%= @team_partition.name %></h1>

<ul>
	<% @team_partition.teams.each do |team| %>
	<li>
		<%= render :partial => 'teams/show', :locals => { :team => team } %>
	</li>
	<% end %>
</ul>
