[ ca ]
default_ca = CA_default

[ CA_default ]
# Directory and file locations.
database          = ./keys/ca.index.txt
serial            = ./keys/ca.serial
default_md        = sha256  # SHA-1 is deprecated, so use SHA-2 instead.
default_days      = 3650
preserve          = no
policy            = policy_loose

[ policy_loose ]
# Allow the CA to sign a diverse range of certificates.
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
string_mask         = utf8only
default_md          = sha256  # SHA-1 is deprecated, so use SHA-2 instead.
x509_extensions     = v3_ca  # Extension to add when the -x509 option is used.
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]
# OpenSSH complains if this section isn't here.

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ client_cert ]
basicConstraints = CA:FALSE
nsCertType = client, email
nsComment = "OpenSSL Generated Client Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, emailProtection

[ server_cert ]
basicConstraints = CA:FALSE
nsCertType = server
nsComment = "OpenSSL Generated Server Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
