<ol id="assignments-list" class="no-bullet">
  <% assignments.each do |assignment| %>
    <li class="submission-dashboard">
      <%= render 'assignments/show', assignment: assignment %>
    </li>
  <% end %>
</ol>
