<% statistic = average_score_stats assessment %>

<span class="meter-container">
  <%= content_tag :meter, statistic, min: 0, value: assessment.average_score,
        max: assessment.max_score, title: statistic %>
</span>

<span>
  <%= statistic %>
</span>
