<h1>Listing Submission Checker Results</h1>

<table>
  <tr>
    <th>Submission</th>
    <th>Score</th>
    <th>Diagnostic</th>
  </tr>

<% @analysiss.each do |analysis| %>
  <tr>
    <td><%=h analysis.submission_id %></td>
    <td><%=h analysis.score %></td>
    <td><%=h analysis.diagnostic %></td>
    <td><%= link_to 'Details', analysis %></td>
  </tr>
<% end %>
</table>
