html, body {
  font: {
    family: $main-font;
    size: $main-font-size;
    style: normal;
    variant: normal;
    weight: normal;
  }
  line-height: $main-line-height;
}

p {
  margin: 0.1em 0 0.2em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: bold;
  margin: 0.25em 0 0.2em 0;
}

h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  color: $h1-text-color;
}
h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  color: $h2-text-color;
}
h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  color: $h3-text-color;
}
h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  color: $h4-text-color;
}
h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  color: $h5-text-color;
}
h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-height;
  color: $h6-text-color;
}

thead, th {
  font-weight: bold;
  color: $table-heading-text-color;
}
