[Unit]
Description=Docker Swarm Master
After=docker.service skydns-update@{{ skydns_name }}.service
Requires=docker.service
Wants=skydns-update@{{ skydns_name }}.service

[Service]
Type=simple
TimeoutStartSec=0
Environment="SWARM_DISCOVERY=etcd://
{%- set join_comma = joiner(",") -%}
{%- for etcd_server in groups[etcd_group_name] -%}
etcd-master{{ loop.index }}.clusterlocal:2379
{{- join_comma() -}}
{%- endfor -%}
/docker-swarm"
ExecStartPre=-/usr/bin/docker kill docker-swarm-master
ExecStartPre=-/usr/bin/docker rm docker-swarm-master
ExecStartPre=/usr/bin/docker pull swarm
ExecStart=/usr/bin/docker run --name docker-swarm-master --publish=3376:3376 \
    --volume=/etc/docker-swarm-master:/etc/docker-swarm --net=host \
    swarm manage \
    --advertise=swarm-master1.skydns.local:3376 \
    --cluster-driver=swarm --strategy=spread --filter=health --filter=port \
    --filter=affinity --filter=constraint --filter=dependency \
    --tlsverify --tlscacert=/etc/docker-swarm/ca.pem \
    --tlskey=/etc/docker-swarm/key.pem --tlscert=/etc/docker-swarm/cert.pem \
    --discovery-opt="kv.cacertfile=/etc/docker-swarm/etcd_ca.pem" \
    --discovery-opt="kv.certfile=/etc/docker-swarm/etcd_cert.pem" \
    --discovery-opt="kv.keyfile=/etc/docker-swarm/etcd_key.pem" \
    --host=tcp://0.0.0.0:3376 $SWARM_DISCOVERY
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
KillMode=process

[Install]
WantedBy=multi-user.target
