<li>
  <%= link_to new_registration_path do %>
    <%= register_icon_tag %> Student Registration
  <% end %>
</li>
<li>
  <%= link_to new_role_request_path do %>
    <%= role_icon_tag :staff %> Staff Registration
  <% end %>
</li>
