<li>
  <%= link_to root_path do %>
    <%= feed_icon_tag %> Activity
  <% end %>
</li>
<li>
  <%= link_to editor_grades_path(course_id: current_course) do %>
    <%= edit_icon_tag %> Enter Grades
  <% end %>
</li>
