<li>
  <%= link_to 'News', root_path %>
</li>
<li>
  <%= link_to 'Grades', grades_path %>
</li>
<% if Course.main.has_surveys %>
<li>
  <%= link_to 'Surveys', root_path(:flavor => :survey_answer) %>
</li>
<% end %>
