body {
  background: $footer-background-color2;
}
html, body {
  border: none;
  min-width: ($page-width + 2 * $column-margin);
  min-height: 100%;
  width: 100%;
}

body {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: block-axis;
  -webkit-box-orient: block-axis;
  box-orient: block-axis;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
}

#real-body {
  background-color: #ffffff;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
header, footer {
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  box-flex: 0;
}

#content-wrapper {
  margin: 0 auto;
  padding: 0 0 24px 0;
  width: $page-width;
  overflow: hidden;
}

article#sidebar {
  float: right;
  width: $sidebar-width;
}

article#main {
  float: left;
  width: $page-width;
}

article#sidebar + article#main {
  float: left;
  width: ($page-width - $sidebar-width - $column-total - $column-margin);
}
