header {
  padding: 0;
  background-color: $header-background-color;
  border-bottom: 1px solid $header-border-color;

  hgroup {
    width: $page-width;
    height: $header-height;
    margin: 0 auto;
    color: $header-text-color;
    
    position: relative;
    
    font-family: $heading-font;
    font-weight: bold;
  }
  
  h1 {
    display: inline-block;
    overflow: hidden;
    margin: 0;
  
    font-size: ($header-height - 4px);
    line-height: $header-height;
    font-variant: small-caps;
    color: $header-title-color;
  
    vertical-align: top;
    
    img {
      display: block;
      padding: 2px 0;
      float: left;
    }
    
    span {
      display: block;
      padding-right: 0.5em;
      float: left;
      height: 100%;
    }
    
    // Padding between the image and the title.
    img + span {
      padding-left: 0.5em;
    }
    
    a, a:visited, a:hover, a:active {
      color: inherit;
      text-decoration: none;
    }
  }
  
  nav {
    display: inline-block;
    font-weight: normal;
    height: 100%;
  }
  nav > ol {
    @include menu-list($menu-hover-color, $last-item-right: true);
    background-color: $header-background-color;

    font-size: 18px;
    line-height: 24px;
    height: 100%;
    > li > a {
      padding-top: 16px;
      height: 24px;
    }
  }
  nav a img {
    vertical-align: baseline;
  }
}
