<h2>Deadlines</h2>

<ol class="deadlines">
<% Contents::Deadline.for(current_user).each do |deadline| %>
  <li class="deadline-<%= deadline.state %>">
    <span class="date">
      <%= deadline.due.to_s(:deadline_short) %>
    </span>
    <span class="title">
      <% if deadline.active? %>
        <%= link_to deadline.headline, self.send(*deadline.link[0]),
                    deadline.link[1] || {} %>
      <% else %>
        <%= deadline.headline %>
      <% end %>
    </span>
  </li>
<% end %>
</ol>
