<section class="login">
  <h2>Sign in</h2>
  <%= render 'session/login_form' %>
</section>

<section class="register-hint">
  <h2>No account?</h2>
  <%= form_tag new_user_path, :method => :get do %>
    <p class="actions">
      <button>Register</button>
    </p>
  <% end %>
</section>
