<div class="row">
  <fieldset class="small-12 columns">
    <legend><h4>Built-in Analyzer Parameters</h4></legend>
    <%= f.select :message_name, proc_analyzer_messages_for_select,
          label: 'Built-in analyzer' %>
    <%= f.input_field_set label: 'Auto grading' do %>
      <%= f.check_box :auto_grading,
            label: 'invalid submissions get 0 (zero) grades' %>
    <% end %>
  </fieldset>
</div>
