.announcement-form dl {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.announcement-form dt {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  width: 5em;
}
.announcement-form dd {
  float: left;
  margin: 0;
  padding: 0 0 4pt 11pt;
}
.announcement-form dd, .announcement-form input[type=text],
    .announcement-form textarea {
	width: 410px;
}


section.assignment > p:first-child {
  margin: 0.5ex 0 1em 0;
}

ul.deliverables {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.deliverables li {
  padding: 0;
  margin: 1ex 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #B18566;
}
ul.deliverables li .name {
  margin: 0;
  padding: 0 0 0.2ex 0;
  display: block;
  float: left;
  font-size: 1.1em;
  width: 640px;
}
ul.deliverables li .new {
  display: block;
  float: right;
  width: 320px;
}
ul.deliverables li .description {
  float: left;
  width: 640px;

  color: #666666;
  clear: left;
  margin: 0;
  padding: 0.2ex 0 0 0;
}
ul.deliverables li .submission {
  clear: both;
  margin: 0;
  padding: 0.5ex 0 0.5ex 0;
}
ul.deliverables li .submission .submission-info {
  margin: 0;
  padding: 0;
}
ul.deliverables li .submission img {
  display: inline-block;
  position: relative;
  top: 4px;
}


div.auto_complete {
  background: #fff;
}
div.auto_complete ol {
  border: 1px solid #3F1900;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
div.auto_complete ol li {
  margin: 0;
  padding: 3px;
}
div.auto_complete ol li.selected {
  background-color: #F4DCCC;
}
div.auto_complete ol strong.highlight {
  color: #800; 
  margin: 0;
  padding: 0;
}


body {
  font-family: "Droid Serif", Arial, Times, serif;
  font-size: 12pt;
  font-weight: normal;  
}

a {
  cursor: pointer;
}
a, a:visited {
  color: #7E3300;
  text-decoration: none;
}
a:hover, a:active {
  color: #975C33;
  text-decoration: underline;
}
a img {
  border: none;
}

h2 {
  margin: 1ex 0 2px 0;
  padding: 0;	
  font-family: Ubuntu, Helvetica, Tahoma, sans-serif;
  font-size: 18pt;
  font-weight: bold;
	color: #5E2600;
}

h3 {
  margin: 1ex 0 0 0;
  padding: 0; 
  font-family: Ubuntu, Helvetica, Tahoma, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  color: #5E2600;
}

th {
	text-align: left;
}

.hidden {
  display: none;
}


/* Forms. */
form .fields {
  display: table;
  border-collapse: collapse;
  width: 100%;
}
form .fields .field {
  display: table-row;
  margin: 0;
  padding: 0 0 0.2em 0;
}
form .fields .field.hidden {
  display: none;
}
form .fields .field > * {
  display: table-cell;
  vertical-align: baseline;
  margin: 0;
}
form .fields .field > label {
  padding: 0 0.5em 0 0;
}
form .fields .field > .value {
  padding: 0 0 0.25em 0;
}
form .fields .field > .value > .field_with_errors {
  display: block;
}
form .fields .field > .comment {
  padding: 0 0 0 0.5em;
}
form .fields .field input, form .fields .field textarea {
  font-size: inherit;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form .fields .field input[type=radio],
    form .fields .field input[type=checkbox] {
  width: auto;
}
form .action {
  margin: 0;
  padding: 0;
  text-align: center;
}
form .action input[type=submit], form .action input[type=button],
    form .action button {
  min-width: 7em;
}


/* Form buttons. */
input[type=submit], input[type=button], button {
	margin: 0;
	padding: 0.1em 1ex;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 1px 3px #EABA99;
  -moz-box-shadow: 0px 1px 3px #EABA99;
  -webkit-box-shadow: 0px 1px 3px #EABA99;
  
  background-color: #CA5200;
  border: 1px solid #983E00;
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: bold;
}
input[type=submit]:hover, input[type=button]:hover, button:hover {
  color: #F4DCCC;
}
input[type=submit]:active, input[type=button]:active, button:active {
  background-color: #CA5200;
  box-shadow: inset 0px 2px 2px #983E00;
  -moz-box-shadow: inset 0px 2px 2px #983E00;
  -webkit-box-shadow: inset 0px 2px 2px #983E00;
}

/* Text fields. */
input[type=text], input[type=email], input[type=tel], input[type=password],
    textarea {
  margin: 0;
  padding: 0.1em 0.5ex;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid #652900;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0px 2px 2px #F4DCCC;
  -moz-box-shadow: inset 0px 2px 2px #F4DCCC;
  -webkit-box-shadow: inset 0px 2px 2px #F4DCCC;
}
input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover,
    input[type=password]:hover, textarea:hover {
  border: 1px solid #983E00;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus,
    input[type=password]:focus, textarea:focus {
	color: #331400;
}
textarea {
	height: 5.25em;
}
.field_with_errors input[type=text],
    .field_with_errors input[type=email],
    .field_with_errors input[type=tel],
    .field_with_errors input[type=password],
		.field_with_errors textarea {
  border: 1px solid #FF0000;
  box-shadow: inset 0px 1px 2px #FF8888;
  -moz-box-shadow: inset 0px 1px 2px #FF8888;
  -webkit-box-shadow: inset 0px 1px 2px #FF8888;
	background-color: #FFEEEE;
}

input[type=radio], input[type=checkbox] {
	border: 1px solid #652900;
  box-shadow: inset 0px 1px 2px #F4DCCC;
  -moz-box-shadow: inset 0px 1px 2px #F4DCCC;
  -webkit-box-shadow: inset 0px 1px 2px #F4DCCC;
  background-color: #FFFFFF;	
}
.field_with_errors input[type=radio],
    .field_with_errors input[type=checkbox] {
  border: 1px solid #FF0000;    	
  box-shadow: inset 0px 1px 2px #FF8888;
  -moz-box-shadow: inset 0px 1px 2px #FF8888;
  -webkit-box-shadow: inset 0px 1px 2px #FF8888;
  background-color: #FFEEEE;
}


dl.deadlines {
  margin: 0;
  padding: 0;
}
dl.deadlines dt {
  float: left;
  padding: 0;
  width: 50px;
  color: #99A0EF;
}
dl.deadlines dd {
  margin: 0;
  padding: 0 0 0 50px;
}
dl.deadlines dt.deadline-overdue, dl.deadlines dd.deadline-overdue a {
  color: #7E3300;
}
dl.deadlines dd.deadline-done, dl.deadlines dd.deadline-done a {
  color: #99A0EF;
}
dl.deadlines dt.deadline-missed, dl.deadlines dd.deadline-missed {
  color: #EABA99;
  text-decoration: line-through;
}


.feed-item {
	margin: 8px 0 12px 0;
	padding: 0 0 0 24px;
	overflow: hidden;
	position: relative;
	min-height: 20px;
}
.feed-item .author img {
	position: absolute;
	left: 0px;
}
.feed-item .action-bar {
	clear: both;
}

/* Headline. */
.feed-item h3 {
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-weight: normal;
	color: #000000;
}
.feed-item h4 {
	margin: 0;
	padding: 0;
	font-size: 11pt;
	font-weight: normal;
	color: #000000;
}
.feed-item .author {
	font-weight: bold;
}

/* Story. */
.feed-item p {
	margin: 0;
	padding: 0;
	color: #595959;
}
.feed-item .footer {
	font-size: 11pt;
	overflow: hidden;
}
.feed-item .footer p {
  float: left;	
	color: #A6A6A6;
}
.feed-item ul.actions {
	float: left;
	margin: 0;
	padding: 0;
}
.feed-item .actions li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;
}

/* Replies. */
.feed-item .replies {
	margin: 0;
	padding: 0;
}
.feed-item .replies .feed-item {
	margin: 2px 0 4px 0;
}

/* New item. */
.new-feed-item {
  margin: 10px 0 20px;
  padding: 0;
}
.new-feed-item-type-selector {
  overflow: hidden;
	padding: 4px 0 4px 0;
  border: 1px solid #EABA99;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0px 1px 2px #F4DCCC;
  -moz-box-shadow: inset 0px 1px 2px #F4DCCC;
  -webkit-box-shadow: inset 0px 1px 2px #F4DCCC;
}

.new-feed-item h2 {
	float: left;
	margin: 0;
	padding: 1px 8px 1px 4px;
  color: #3F1900;
  font: inherit;
  font-size: 13pt;
  font-weight: inherit;
}
.new-feed-item-type-selector ul {
  margin: 0;
	padding: 0;
	float: left;
	font-size: 13pt;
}
.new-feed-item-type-selector ul li {
	float: left;
	list-style-type: none;
  margin: 0 2px;
	padding: 0 4px;
  border: 1px solid #EABA99;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0px 1px 2px #F4DCCC;
  -moz-box-shadow: 0px 1px 2px #F4DCCC;
  -webkit-box-shadow: 0px 1px 2px #F4DCCC;	
}
.new-feed-item-type-selector ul li:hover {
  background-color: #F4DCCC;	
}
.new-feed-item-type-selector ul a, .new-feed-item-type-selector ul a:visited {
	color: #3F1900;
}
.new-feed-item-type-selector ul a:hover,
    .new-feed-item-type-selector ul a:active {
	color: #3F1900;
	text-decoration: none;
}

.new-feed-item-form-container {
	margin: 0 3px;
  padding: 8px 8px 6px 8px; 
  border: 1px solid #EABA99;
	border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;

  box-shadow: inset 0px 1px 2px #F4DCCC;
  -moz-box-shadow: inset 0px 1px 2px #F4DCCC;
  -webkit-box-shadow: inset 0px 1px 2px #F4DCCC;
  overflow: hidden;
}
.new-feed-item-form-container:empty {
  padding: 0;
	border: none;
}
.new-feed-item-form-container .privacy-policy {
	float: left;
	margin: 4px 0 0 0;
	padding: 4px 0 0 0;
  color: #652900;
}
.new-feed-item-form-container input[type=submit] {
	margin: 4px 0 0 0;
	float: right;
}


@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DroidSerif.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/DroidSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/DroidSerif-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/DroidSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Ubuntu.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Ubuntu-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Ubuntu-BoldItalic.ttf") format("truetype");
}


footer {
  color: #3F2513;
  font-size: 11pt;
  
  border: none;
  border-top: 1px solid #EABA99;
  background: -moz-linear-gradient(top, #F4DCCC 0%, #FFEADB 100%)
              left top no-repeat, #FFEADB;
  background: -webkit-gradient(linear, left top, left bottom,
              color-stop(0%, #F4DCCC), color-stop(100%, #FFEADB))
              left top no-repeat, #FFEADB;
  -moz-background-size: 100% 20px, 100% 100%;
  -webkit-background-size: 100% 20px, 100% 100%;
  background-size: 100% 20px, 100% 100%;
}
footer nav {
  margin: 0 auto;
  padding: 5px 8px 0 8px;
	width: 1000px;
}
footer p {
  margin: 0;
}
footer p.copyright img {
  float: left;
  margin-right: 5px;
}
footer p.copyright {
  line-height: 16px;
}
footer p.design {
  font-size: 9pt;
  display: block;
  padding: 36px 0 4px 0;
	text-align: center;
}
footer a {
  color: #3F2513;
}
footer nav ul {
  margin: 0;
  padding: 0 0 8px 0;
}
footer nav ul li {
  display: inline-block;
}
footer nav ul a {
  display: inline-block;
  padding: 5px;
}


/* -------------------------------------------------------------------------------------------------

It's *strongly* suggested that you don't modify this file.  Instead, load a new stylesheet after
this one in your layouts (eg formtastic_changes.css) and override the styles to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

This stylesheet forms part of the Formtastic Rails Plugin
(c) 2008 Justin French

--------------------------------------------------------------------------------------------------*/


/* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just form.formtastic
--------------------------------------------------------------------------------------------------*/
form.formtastic, form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p { margin:0; padding:0; }
form.formtastic fieldset { border:0; }
form.formtastic em, form.formtastic strong { font-style:normal; font-weight:normal; }
form.formtastic ol, form.formtastic ul { list-style:none; }
form.formtastic abbr, form.formtastic acronym { border:0; font-variant:normal; }
form.formtastic input, form.formtastic textarea, form.formtastic select { font-family:inherit; font-size:inherit; font-weight:inherit; }
form.formtastic input, form.formtastic textarea, form.formtastic select { font-size:100%; }
form.formtastic legend { white-space:normal; color:#000; }


/* SEMANTIC ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic ul.errors { color:#cc0000; margin:0.5em 0 1.5em 25%; list-style:square; }
form.formtastic ul.errors li { padding:0; border:none; display:list-item; }


/* FIELDSETS & LISTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset { overflow:auto; } /* clearing contained floats */
form.formtastic fieldset.inputs { }
form.formtastic fieldset.buttons { padding-left:25%; }
form.formtastic fieldset ol { }
form.formtastic fieldset.buttons li { float:left; padding-right:0.5em; }

/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li { padding:0.5em 0; margin-top:-0.5em; margin-bottom:1em; } /* padding and negative margin juggling is for Firefox */
form.formtastic fieldset > ol > li { overflow:auto; } /* clearing contained floats */

form.formtastic fieldset > ol > li.required { }
form.formtastic fieldset > ol > li.optional { }
form.formtastic fieldset > ol > li.error { }
  

/* LABELS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li label { display:block; width:25%; float:left; padding-top:.2em; }
form.formtastic fieldset > ol > li > li label { line-height:100%; padding-top:0; }
form.formtastic fieldset > ol > li > li label input { line-height:100%; vertical-align:middle; margin-top:-0.1em;}


/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li fieldset { position:relative; }
form.formtastic fieldset > ol > li fieldset legend { position:absolute; width:95%; padding-top:0.1em; left: 0px; }
form.formtastic fieldset > ol > li fieldset legend span { position:absolute; }
form.formtastic fieldset > ol > li fieldset legend.label label { position:absolute; }
form.formtastic fieldset > ol > li fieldset ol { float:left; width:74%; margin:0; padding:0 0 0 25%; }
form.formtastic fieldset > ol > li fieldset ol li { padding:0; border:0; }


/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-hints { color:#666; margin:0.5em 0 0 25%; }


/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-errors { color:#cc0000; margin:0.5em 0 0 25%; }
form.formtastic fieldset > ol > li ul.errors { color:#cc0000; margin:0.5em 0 0 25%; list-style:square; }
form.formtastic fieldset > ol > li ul.errors li { padding:0; border:none; display:list-item; }


/* STRING, NUMERIC, PASSWORD, EMAIL, URL, PHONE & SEARCH OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.string input, 
form.formtastic fieldset > ol > li.password input, 
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input { width:72%; }

form.formtastic fieldset > ol > li.string input[size], 
form.formtastic fieldset > ol > li.password input[size], 
form.formtastic fieldset > ol > li.numeric input[size],
form.formtastic fieldset > ol > li.email input[size],
form.formtastic fieldset > ol > li.url input[size],
form.formtastic fieldset > ol > li.phone input[size],
form.formtastic fieldset > ol > li.search input[size] { width:auto; max-width:72%; }


/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.text textarea { width:72%; }
form.formtastic fieldset > ol > li.text textarea[cols] { width:auto; max-width:72%; }


/* HIDDEN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.hidden { display:none; }

/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.boolean label { padding-left:25%; width:auto; }
form.formtastic fieldset > ol > li.boolean label input { margin:0 0.5em 0 0.2em; }


/* RADIO OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.radio { }
form.formtastic fieldset > ol > li.radio fieldset { overflow:visible; }
form.formtastic fieldset > ol > li.radio fieldset ol { margin-bottom:-0.5em; }
form.formtastic fieldset > ol > li.radio fieldset ol li { margin:0.1em 0 0.5em 0; overflow:visible; }
form.formtastic fieldset > ol > li.radio fieldset ol li label { float:none; width:100%; }
form.formtastic fieldset > ol > li.radio fieldset ol li label input { margin-right:0.2em; }


/* CHECK BOXES (COLLECTION) OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.check_boxes { }
form.formtastic fieldset > ol > li.check_boxes fieldset { overflow:visible; }
form.formtastic fieldset > ol > li.check_boxes fieldset ol { margin-bottom:-0.5em; }
form.formtastic fieldset > ol > li.check_boxes fieldset ol li { margin:0.1em 0 0.5em 0; overflow:visible; }
form.formtastic fieldset > ol > li.check_boxes fieldset ol li label { float:none; width:100%; }
form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input { margin-right:0.2em; }


/* DATE & TIME OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.date fieldset ol li,
form.formtastic fieldset > ol > li.time fieldset ol li,
form.formtastic fieldset > ol > li.datetime fieldset ol li { float:left; width:auto; margin:0 .3em 0 0; }

form.formtastic fieldset > ol > li.date fieldset ol li label,
form.formtastic fieldset > ol > li.time fieldset ol li label,
form.formtastic fieldset > ol > li.datetime fieldset ol li label { display:none; }

form.formtastic fieldset > ol > li.date fieldset ol li label input, 
form.formtastic fieldset > ol > li.time fieldset ol li label input, 
form.formtastic fieldset > ol > li.datetime fieldset ol li label input { display:inline; margin:0; padding:0;  }


/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/


dl.grades {
  margin: 0;
	padding: 0 0 2px 0;
	overflow: hidden;
  border-bottom: 1px solid #EABA99;
}
dl.grades:last-child {
	padding: 0;
	border-bottom: none;
}
dl.grades dt {
	float: left;
	width: 9em;
	margin: 0;
	padding: 0;
	color: #595959;
}
dl.grades dd {
	float: left;
	width: 6em;
	margin: 0;
	padding: 0 0.6em 0 0;
  color: #5E2600;
}
dl.grades span.score {
	display: inline-block;
	text-align: right;
	width: 3em;
}
dl.grades span.max-score {
	display: inline-block;
	text-align: right;
	width: 1.7em;
}


dl.groups {
  margin: 0;
  padding: 0;
}
dl.groups dt {
  clear: both;
}
dl.groups dd {
  margin: 0;
  padding: 2px 0 5px 0;
}
dl.groups dd ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
	overflow: hidden;
}
dl.groups dd ul li {
  margin: 0;
  padding: 0;
  float: left;
  width: 80px;
  text-align: center;
}
dl.groups dd ul li img {
  display: block;
  margin: 0 auto 0 auto;
}
dl.groups dd ul li span.status {
	color: #595959;
	display: block;
}

form.group-membership-form {
	overflow: visible;
  display: box;
	display: -moz-box;
  display: -webkit-box;
  box-align: baseline;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-orient: inline-axis;
  -moz-box-orient: inline-axis;
  -webkit-box-orient: inline-axis;	
	width: 100%;
}
form.group-membership-form input[type=text] {
  display: block;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
	margin: 0 5px 0 0;
}
form.group-membership-form input[type=submit] {
  box-flex: 0;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
	display: inline-block;
	float: none;
}
form.group-membership-form .ajax-indicator-wrapper {
	width: 24px;
  box-flex: 0;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;	
}


header {
  padding: 0;
  background-color: #F4DCCC;
  
  border: none;
  border-bottom: 1px solid #EABA99;
}
header hgroup {
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  
  position: relative;
  
  font-family: Ubuntu, Helvetica, Tahoma, sans-serif;
  font-weight: bold;
}
header h1 {
  display: inline-block;
	padding: 0;
	margin: 0;
  overflow: hidden;

  font-family: inherit;
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;

  vertical-align: top;
}
header h1 img {
  display: block;
  padding: 2px 0;
  float: left;
}
header h1 span {
  display: block;
  float: left;
  padding: 0 0.5em 0 0.5em;
  height: 100%;
}

header h1 a, header h1 a:visited, header h1 a:hover, header h1 a:active {
  color: inherit;
  text-decoration: none;
}


body {
	margin: 0;
	padding: 0;
	border: none;
	min-width: 1000px;
}

header {
  display: block;
  margin: 0;
}

footer {
  display: block;
  margin: 24px 0 0 0;
}

#content-wrapper {
  margin: 0 auto;
	padding: 0;
  width: 1000px;
  overflow: hidden;
}

article#sidebar {
  float: right;
  width: 330px;
  margin: 0;
  padding: 0;
}

article#sidebar + article#main {
  float: left;
  width: 640px;
	margin: 0;
	padding: 0;
}

article#main {
  float: left;
  width: 1000px;
  margin: 0;
  padding: 0;
}


section.login, section.register-hint {
  font-size: 18pt;
  line-height: 22pt;
}
section.login h2, section.register-hint h2 {
  font-size: 24pt;
  line-height: 30pt;
}
section.login form, section.register-hint form {
  padding: 1em 2em;
}

nav#menu {
  display: inline-block;
  height: 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

nav#menu ol a {
  color: #652900;
  text-decoration: none;
}
nav#menu ol a:hover, nav#menu ol a:active {
  background-color: #EABA99;
  color: #652900;
  text-decoration: none;
}
nav#menu ol {
  margin: 0;
  padding: 0;

  list-style: none;
  height: 100%;
  line-height: 28px;
}

nav#menu ol li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
nav#menu > ol > li:last-child {
  position: absolute;
  right: 0;
}
nav#menu ol li a {
  display: block;
  padding: 12px 0.5em 0;
}
nav#menu > ol > li:last-child a {
  vertical-align: bottom;
}
nav#menu ol li:last-child a span {
  display: inline-block;
}

nav#menu ol ol {
  display: none;
  height: auto;
  line-height: 24px;
  background-color: #F4DCCC;
  border: 1px solid #EABA99;
  position: absolute;
  z-index: 5;
}
nav#menu ol li:hover ol {
  display: block;
}
nav#menu ol ol li {
  float: none;
}
nav#menu ol li ol li a {
  padding: 0 0.5em;
}
nav#menu ol li:last-child ol {
  position: relative;
}


nav#menu ol li img {
  display: block;
  position: relative;
  top: 2px;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0 4px;
}


h2 img {
	float: left;
	padding: 0 8px 0 0;
}

.profile-container, .registration-container, .profile-photo-container {
	clear: both;
	overflow: hidden;
}

.profile-container h3, .registration-container h3, .profile-photo-container h3 {
	margin: 8px 0 8px 0;
	padding: 0;
}
.profile-container h3 a, .registration-container h3 a,
    .profile-photo-container h3 a {
	display: inline-block;
	font-weight: normal;
	padding: 0 0 0 8px;
}
dl.profile, dl.registration, dl.profile-photo {
	overflow: hidden;
	margin: 8px 0 8px 0;
  padding: 0;
}
dl.profile dt, dl.registration dt, dl.profile-photo dt {
	float: left;
  clear: both;
	width: 10em;
	color: #595959;
	padding: 0 0 4px 0;
}
dl.profile dd, dl.registration dd, dl.profile-photo dd {
	float: left;
	width: 390px;
	margin: 0;
	padding: 0 0 4px 0;
}
dl.profile span.instructions, dl.registration span.instructions,
    dl.profile-photo span.instructions {
	display: block;
	color: #595959;
	font-family: italic;
}
form dl.registration dd table {
	position: relative;
	left: -160px;
}
.profile-container form .privacy-policy,
    .registration-container form .privacy-policy,
		.profile-photo-container form .privacy-policy {
  float: left;
  margin: 4px 0 0 0;
  padding: 4px 0 0 0;
  color: #652900;
}
.profile-container form input[type=submit],
    .registration-container form input[type=submit],
		.profile-photo-container form input[type=submit] {
  margin: 4px 0 0 0;
  float: right;
}

dl.registration table.timetable th, dl.registration table.timetable td {
	min-width: 50px;
}
dl.registration table.timetable td.free {
	color: #A6A6A6;
}


.request {
  margin: 8px 0 12px 0;
	overflow: hidden;
}
.request .author img {
  float: left;
	margin: 0 4px 4px 0;
}

.request h3 {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: normal;
  color: #000000;
}
.request .author {
  font-weight: bold;
}
.request p {
  margin: 0;
  padding: 0;
  color: #595959;
}
.request .actions {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 11pt;
  overflow: hidden;
}
.request .actions li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0 10px 0 0;
}




section.signup {
  font-size: 14pt;
  line-height: 18pt;
}
section.signup h2 {
  font-size: 24pt;
  line-height: 30pt;
}

section.signup label {
  width: 12em;
}
section.signup .comment {
  width: 20em;
}


.status-bar {
  width: 1000px;
  margin: 0.2em auto;
  padding: 0.5ex 0.5em;
  
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  font-size: 14pt;
}
.status-bar.error {
  border: 1px solid #D8000C;
  background-color: #FFBABA;
  color: #D8000C;
}
.status-bar.notice {
  border: 1px solid #9F6000;
  background-color: #FEEFB3;
  color: #9F6000;
}

.status-bar .actions {
	display: inline-block;
	float: right;
}


.submission-form dl {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.submission-form dt {
	clear: both;
  float: left;
	margin: 0;
  padding: 0;
	width: 100px;
}
.submission-form dd {
  float: left;
  margin: 0;
  padding: 0 0 4pt 11pt;
}


.survey-answer-picker dl {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.survey-answer-picker dt {
  margin: 0;
  padding: 0;
  float: left;
	width: 100px;
}
.survey-answer-picker dd {
  margin: 0;
  padding: 0;
  float: left;
}
.survey-answer-picker select {
	width: 250px;
}
.survey-answer-picker p {
	margin: 0;
	padding: 0;
}

.survey-answer-form {
}
.survey-answer-form dl {
	margin: 0;
  padding: 0;
}
.survey-answer-form dl:not(:first-of-type) {
	padding: 0 0 0 40px;
}
.survey-answer-form dt {
	margin: 0;
	padding: 0;
}
.survey-answer-form dd {
	margin: 0;
	padding: 0 0 4pt 11pt;
	color: #331400;
}
.survey-answer-form h3 {
	border-top: 1px solid #F4DCCC;
	margin: 0;
	padding: 0;
	font-size: inherit;	
}
.survey-answer-form h3 img {
  float: left;
	padding: 4px 4px 4px 0;
}


/* User information in search result? */
h3.user-info {
  font-size: 11pt;
	margin: 6px 0 0 0;
	padding: 0;
}
h3.user-info img {
  float: left;
  margin: 4px 4px 4px 0;
}
h3.user-info:not(:first-of-type) {
	margin-top: 6px;
	border-top: 1px solid #F4DCCC;
}
dl.user-info {
  margin: 0;
  padding: 0;
	overflow: hidden;
}
dl.user-info dt {
  margin: 0;
  padding: 0;
	float: left;
	width: 100px;
	color: #595959;
}
dl.user-info dd {
  margin: 0;
  padding: 0;
}
ul.user-info-actions {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
ul.user-info-actions li {
	margin: 0;
	padding: 0 6px 0 0;
	float: left;
}

.auto_complete li.user-result .username {
	color: #A6A6A6;
}
.auto_complete li.user-result .username::before {
	content: " [";
  color: #A6A6A6;
}
.auto_complete li.user-result .username::after {
  content: "]";
  color: #A6A6A6;
}