.announcement-form dl {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.announcement-form dt {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  width: 5em;
}
.announcement-form dd {
  float: left;
  margin: 0;
  padding: 0 0 4pt 11pt;
}
.announcement-form dd, .announcement-form input[type=text],
    .announcement-form textarea {
	width: 410px;
}
