div.auto_complete {
  background: #fff;
}
div.auto_complete ol {
  border: 1px solid #888;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
div.auto_complete ol li {
  margin: 0;
  padding: 3px;
}
div.auto_complete ol li.selected {
  background-color: #ffb;
}
div.auto_complete ol strong.highlight {
  color: #800; 
  margin: 0;
  padding: 0;
}
