/* Forms. */
form {
  overflow: hidden;
}
form dl {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
form dt {
  clear: both;	
  margin: 0;
  padding: 0;
  float: left;
  width: 100px;
}
form dd {
  margin: 0;
  padding: 0;
  float: left;
}

/* Form buttons. */
input[type=submit], input[type=button] {
	margin: 0;
	padding: 1px 6px;	
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 1px 3px #EABA99;
  -moz-box-shadow: 0px 1px 3px #EABA99;
  -webkit-box-shadow: 0px 1px 3px #EABA99;
  
  background-color: #CA5200;
  border: 1px solid #983E00;
  color: #FFFFFF;
  font-size: 11pt;
  font-weight: bold;
	float: right;
}
input[type=submit]:hover, input[type=button]:hover {
  color: #F4DCCC;
}
input[type=submit]:active, input[type=button]:active {
  background-color: #CA5200;
  box-shadow: inset 0px 2px 2px #983E00;
  -moz-box-shadow: inset 0px 2px 2px #983E00;
  -webkit-box-shadow: inset 0px 2px 2px #983E00;
}

/* Text fields. */
input[type=text], input[type=password], textarea {
  margin: 0;
  padding: 3px 4px;
  border: 1px solid #652900;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0px 2px 2px #F4DCCC;
  -moz-box-shadow: inset 0px 2px 2px #F4DCCC;
  -webkit-box-shadow: inset 0px 2px 2px #F4DCCC;
  background-color: #FFFFFF;
	color: #000000;
}
input[type=text]:hover, input[type=password]:hover, textarea:hover {
  border: 1px solid #983E00;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	color: #331400;
}
textarea {
	height: 5.25em;
}
div.field_with_errors input[type=text],
    div.field_with_errors input[type=password],
		div.field_with_errors textarea {
  border: 1px solid #FF0000;
  box-shadow: inset 0px 1px 2px #FF8888;
  -moz-box-shadow: inset 0px 1px 2px #FF8888;
  -webkit-box-shadow: inset 0px 1px 2px #FF8888;
	background-color: #FFEEEE;
}

input[type=radio], input[type=checkbox] {
	border: 1px solid #652900;
  box-shadow: inset 0px 1px 2px #F4DCCC;
  -moz-box-shadow: inset 0px 1px 2px #F4DCCC;
  -webkit-box-shadow: inset 0px 1px 2px #F4DCCC;
  background-color: #FFFFFF;	
}
div.field_with_errors input[type=radio],
    div.field_with_errors input[type=checkbox] {
  border: 1px solid #FF0000;    	
  box-shadow: inset 0px 1px 2px #FF8888;
  -moz-box-shadow: inset 0px 1px 2px #FF8888;
  -webkit-box-shadow: inset 0px 1px 2px #FF8888;
  background-color: #FFEEEE;
}

/* Prevent error fields from messing up the layout. */
div.field_with_errors {
	display: inline-block;
	background-color: #FFEEEE;
}
