/* Forms. */
form .fields {
  display: table;
  border-collapse: collapse;
  width: 100%;
}
form .fields .field {
  display: table-row;
  margin: 0;
  padding: 0 0 0.2em 0;
}
form .fields .field.hidden {
  display: none;
}
form .fields .field > * {
  display: table-cell;
  vertical-align: baseline;
  margin: 0;
}
form .fields .field > label {
  padding: 0 0.5em 0 0;
}
form .fields .field > .value {
  padding: 0 0 0.25em 0;
}
form .fields .field > .value > .field_with_errors {
  display: block;
}
form .fields .field > .comment {
  padding: 0 0 0 0.5em;
}
form .fields .field input, form .fields .field textarea {
  font-size: inherit;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form .fields .field input[type=radio],
    form .fields .field input[type=checkbox] {
  width: auto;
}
form .action {
  margin: 0;
  padding: 0;
  text-align: center;
}
form .action input[type=submit], form .action input[type=button],
    form .action button {
  min-width: 7em;
}


/* Form buttons. */
input[type=submit], input[type=button], button {
	margin: 0;
	padding: 0.1em 1ex;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 1px 3px #EABA99;
  -moz-box-shadow: 0px 1px 3px #EABA99;
  -webkit-box-shadow: 0px 1px 3px #EABA99;
  
  background-color: #CA5200;
  border: 1px solid #983E00;
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: bold;
}
input[type=submit]:hover, input[type=button]:hover, button:hover {
  color: #F4DCCC;
}
input[type=submit]:active, input[type=button]:active, button:active {
  background-color: #CA5200;
  box-shadow: inset 0px 2px 2px #983E00;
  -moz-box-shadow: inset 0px 2px 2px #983E00;
  -webkit-box-shadow: inset 0px 2px 2px #983E00;
}

/* Text fields. */
input[type=text], input[type=email], input[type=tel], input[type=password],
    textarea {
  margin: 0;
  padding: 0.1em 0.5ex;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid #652900;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0px 2px 2px #F4DCCC;
  -moz-box-shadow: inset 0px 2px 2px #F4DCCC;
  -webkit-box-shadow: inset 0px 2px 2px #F4DCCC;
}
input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover,
    input[type=password]:hover, textarea:hover {
  border: 1px solid #983E00;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus,
    input[type=password]:focus, textarea:focus {
	color: #331400;
}
textarea {
	height: 5.25em;
}
.field_with_errors input[type=text],
    .field_with_errors input[type=email],
    .field_with_errors input[type=tel],
    .field_with_errors input[type=password],
		.field_with_errors textarea {
  border: 1px solid #FF0000;
  box-shadow: inset 0px 1px 2px #FF8888;
  -moz-box-shadow: inset 0px 1px 2px #FF8888;
  -webkit-box-shadow: inset 0px 1px 2px #FF8888;
	background-color: #FFEEEE;
}

input[type=radio], input[type=checkbox] {
	border: 1px solid #652900;
  box-shadow: inset 0px 1px 2px #F4DCCC;
  -moz-box-shadow: inset 0px 1px 2px #F4DCCC;
  -webkit-box-shadow: inset 0px 1px 2px #F4DCCC;
  background-color: #FFFFFF;	
}
.field_with_errors input[type=radio],
    .field_with_errors input[type=checkbox] {
  border: 1px solid #FF0000;    	
  box-shadow: inset 0px 1px 2px #FF8888;
  -moz-box-shadow: inset 0px 1px 2px #FF8888;
  -webkit-box-shadow: inset 0px 1px 2px #FF8888;
  background-color: #FFEEEE;
}
