.error-bar {
	border: 1px solid #DF9766;
	background-color: #EABA99;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
	margin: 24px 0;
	padding: 3px 8px;
	color: #652900;
	font-size: 14pt;
}
.error-bar .actions {
	display: inline-block;
	float: right;
}
