footer {
  color: #3F2513;
  font-size: 11pt;
  
  border: none;
  border-top: 1px solid #EABA99;
  background: -moz-linear-gradient(top, #F4DCCC 0%, #FFEADB 100%)
              left top no-repeat, #FFEADB;
  background: -webkit-gradient(linear, left top, left bottom,
              color-stop(0%, #F4DCCC), color-stop(100%, #FFEADB))
              left top no-repeat, #FFEADB;
  -moz-background-size: 100% 20px, 100% 100%;
  -webkit-background-size: 100% 20px, 100% 100%;
  background-size: 100% 20px, 100% 100%;
}
footer nav {
  margin: 0 auto;
  padding: 5px 8px 0 8px;
	width: 1000px;
}
footer p {
  margin: 0;
}
footer p.copyright img {
  float: left;
  margin-right: 5px;
}
footer p.copyright {
  line-height: 16px;
}
footer p.design {
  font-size: 9pt;
  display: block;
  padding: 36px 0 4px 0;
	text-align: center;
}
footer a {
  color: #3F2513;
}
footer nav ul {
  margin: 0;
  padding: 0 0 8px 0;
}
footer nav ul li {
  display: inline-block;
}
footer nav ul a {
  display: inline-block;
  padding: 5px;
}
