#footer {
  color: #3F2513;
  font-size: 11pt;
  margin: 24px auto 0 auto;
  width: 1000px;
  border: none;
  border-top: 5px solid #FD944C;
}
#footer-contents {
  margin: 0 0 0 200px;
  padding: 5px 8px 0 8px;
	width: 800px;
}
#footer p {
  margin: 0;
}
#footer p.copyright img {
  float: left;
  margin-right: 5px;
}
#footer p.copyright {
  line-height: 16px;
}
#footer p.design {
  font-size: 9pt;
  display: block;
  padding: 36px 0 4px 0;
	text-align: center;
}
#footer a {
  color: #3F2513;
}
#footer ul.links {
  margin: 0;
  padding: 0 0 8px 0;
}
#footer ul.links li {
  display: inline-block;
}
#footer ul.links a {
  padding: 5px;
}
