dl.groups {
  margin: 0;
  padding: 0;
}
dl.groups dt {
  clear: both;
}
dl.groups dd {
  margin: 0;
  padding: 2px 0 5px 0;
}
dl.groups dd ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
	overflow: hidden;
}
dl.groups dd ul li {
  margin: 0;
  padding: 0;
  float: left;
  width: 80px;
  text-align: center;
}
dl.groups dd ul li img {
  display: block;
  margin: 0 auto 0 auto;
}
dl.groups dd ul li span.status {
	color: #595959;
	display: block;
}
