#header {
  margin: 0;
  padding: 0 8px;
  height: 38px;
  background-color: #CA5200;
  color: #ffffff;
  font-family: "Myriad Pro", Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  overflow: hidden;
  
  border: 1px solid #CA5200;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#header > a {
  float: left;
  margin-right: 8px;
}
#header h1 {
	padding: 0;
	margin: 0;
  font-family: "Myriad Pro", Helvetica, Tahoma, sans-serif;
	font-weight: bold;
  float: left;
  line-height: 36px;
  font-size: 32px;
  position: relative;
  top: 6px;
}
#header .course-title {
	/* display: none; */
}
#header a, #header a:visited, #header a:hover, #header a:active {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
#header .account-panel a:hover, #header .account-panel a:active {
	color: #3F1900;
}
#header ul.account-panel {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  height: 36px;
  font-size: 12pt;
  font-weight: normal;
}
#header .account-panel li {
  height: 36px;
  float: left;
	margin: 0;
	padding: 0;
}
#header .account-panel li a {
  display: inline-block;  
	padding: 18px 8px 0 0;
	height: 36px;
	line-height: 18px;
}
#header ul.account-panel li img {
  display: inline-block;
	float: left;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 1px 4px 1px 0;
}
