header {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #F4DCCC;
  
  border: 1px solid #EABA99;
}
header hgroup {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  
  font-family: "Myriad Pro", Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  overflow: hidden;
}
header h1 {
	padding: 0;
	margin: 0;

  font-family: "Myriad Pro", Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 16pt;

  vertical-align: middle;
}
header .course-title {
	display: none;
}
header h1 > a:first-child {
  display: inline-block;
}
header h1 img {
  display: inline-block;
}
header h1 a, header h1 a:visited, header h1 a:hover, header h1 a:active {
  color: #000000;
  text-decoration: none;
}
header .account-panel a:hover, header h1 .account-panel a:active {
	color: #3F1900;
}
header ul.account-panel {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  height: 36px;
  font-size: 12pt;
  font-weight: normal;
}
header .account-panel li {
  height: 36px;
  float: left;
	margin: 0;
	padding: 0;
}
header .account-panel li a {
  display: inline-block;  
	padding: 18px 8px 0 0;
	height: 36px;
	line-height: 18px;
}
header ul.account-panel li img {
  display: inline-block;
	float: left;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 1px 4px 1px 0;
}
