.health_form .form_box {
	width: 740px;
	margin: 0px 0px 0px 0px;
}
.health_form .form_label {
	width: 164px;
}
.health_form .form_field_box {
	width: 580px;
	left: +180px;
}
.health_form .form_submit_box {
	padding-left: 300px;
}
.health_form .form_submit {
}
.health_form .small_form_field {
	width: 100px;
}
