body {
	margin: 0;
	padding: 0;
	border: none;
	min-width: 1000px;
}

header {
  display: block;
  margin: 0;
}

footer {
  display: block;
  margin: 24px 0 0 0;
}

article {
  margin: 0 auto;
	padding: 0;
  width: 1000px;
  overflow: hidden;
}

#content_main {
  float: left;
  width: 800px;
	margin: 0 5px 0 0;
	padding: 0;
}

#sidebar {
  float: right;
  width: 240px;
	margin: 0 0 0 10px;
	padding: 0;
}
