section.login, section.register-hint {
  font-size: 18pt;
  line-height: 22pt;
}
section.login h2, section.register-hint h2 {
  font-size: 24pt;
  line-height: 30pt;
}
section.login form, section.register-hint form {
  padding: 1em 2em;
}