nav#menu {
  display: inline-block;
  height: 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

nav#menu ol a {
  color: #652900;
  text-decoration: none;
}
nav#menu ol a:hover, nav#menu ol a:active {
  background-color: #EABA99;
  color: #652900;
  text-decoration: none;
}
nav#menu ol {
  margin: 0;
  padding: 0;

  list-style: none;
  height: 100%;
  line-height: 28px;
}

nav#menu ol li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
nav#menu > ol > li:last-child {
  position: absolute;
  right: 0;
}
nav#menu ol li a {
  display: block;
  padding: 12px 0.5em 0;
}
nav#menu > ol > li:last-child a {
  vertical-align: bottom;
}
nav#menu ol li:last-child a span {
  display: inline-block;
}

nav#menu ol ol {
  display: none;
  height: auto;
  line-height: 24px;
  background-color: #F4DCCC;
  border: 1px solid #EABA99;
  position: absolute;
  z-index: 5;
}
nav#menu ol li:hover ol {
  display: block;
}
nav#menu ol ol li {
  float: none;
}
nav#menu ol li ol li a {
  padding: 0 0.5em;
}
nav#menu ol li:last-child ol {
  position: relative;
}


nav#menu ol li img {
  display: block;
  position: relative;
  top: 2px;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0 4px;
}
