h2 img {
	float: left;
	padding: 0 8px 8px 0;
}

.profile-container, .registration-container {
	clear: both;
}

.profile-container h3, .registration-container h3 {
	margin: 0;
	padding: 0;
}
.profile-container h3 a, .registration-container h3 a {
	display: inline-block;
	font-weight: normal;
	padding: 0 0 0 8px;
}
dl.profile, dl.registration {
	overflow: hidden;
	margin: 0;
	padding: 8px 0 8px 0;
}
dl.profile dt, dl.registration dt {
	float: left;
  clear: both;
	width: 10em;
	color: #595959;
	padding: 0 0 4px 0;
}
dl.profile dd, dl.registration dd {
	float: left;
	width: 390px;
	margin: 0;
	padding: 0 0 4px 0;
}
dl.profile span.instructions, dl.registration span.instructions {
	display: block;
	color: #595959;
	font-family: italic;
}
form dl.registration dd table {
	position: relative;
	left: -160px;
}
.profile-container form .privacy-policy,
    .registration-container form .privacy-policy {
  float: left;
  margin: 4px 0 0 0;
  padding: 4px 0 0 0;
  color: #652900;
}
.profile-container form input[type=submit],
    .registration-container form input[type=submit] {
  margin: 4px 0 0 0;
  float: right;
}

dl.registration table.timetable th, dl.registration table.timetable td {
	min-width: 50px;
}
dl.registration table.timetable td.free {
	color: #A6A6A6;
}
