h2 img {
	float: left;
	padding: 0 8px 8px 0;
}

.profile-container {
	clear: both;
}

.profile-container h3 {
	margin: 0;
	padding: 0;
}
.profile-container h3 a {
	display: inline-block;
	font-weight: normal;
	padding: 0 0 0 8px;
}
dl.profile {
	overflow: hidden;
	margin: 0;
	padding: 8px 0 0 0;
}
dl.profile dt {
	float: left;
  clear: both;
	width: 10em;
	color: #595959;
	padding: 0 0 4px 0;
}
dl.profile dd {
	margin: 0 0 0 10em;
	padding: 0 0 4px 0;
}
