#sidebar {
	float: right;
	width: 250px;
}

dl.deadlines {
	margin: 0;
	padding: 0;
}
dl.deadlines dt {
	float: left;
	padding: 0;
	width: 50px;
	color: #99A0EF;
}
dl.deadlines dd {
	margin: 0;
  padding: 0 0 0 50px;
}
dl.deadlines dt.deadline-overdue, dl.deadlines dd.deadline-overdue a {
	color: #7E3300;
}
dl.deadlines dd.deadline-done, dl.deadlines dd.deadline-done a {
  color: #99A0EF;
}
dl.deadlines dt.deadline-missed, dl.deadlines dd.deadline-missed {
  color: #EABA99;
	text-decoration: line-through;
}

dl.networks {
	margin: 0;
	padding: 0;
}
dl.networks dt {
  clear: both;
}
dl.networks dd {
	margin: 0;
  padding: 2px 0 5px 0;
	overflow: hidden;
}
dl.networks ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
dl.networks li {
	margin: 0;
	padding: 0;
	float: left;
	width: 80px;
	text-align: center;
}
dl.networks li img {
	display: block;
	margin: 0 auto 0 auto;
}
