.submission-form dl {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.submission-form dt {
	clear: both;
  float: left;
	margin: 0;
  padding: 0;
	width: 100px;
}
.submission-form dd {
  float: left;
  margin: 0;
  padding: 0 0 4pt 11pt;
}
