.survey-answer-picker dl {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.survey-answer-picker dt {
  margin: 0;
  padding: 0;
  float: left;
	width: 100px;
}
.survey-answer-picker dd {
  margin: 0;
  padding: 0;
  float: left;
}
.survey-answer-picker select {
	width: 250px;
}
.survey-answer-picker p {
	margin: 0;
	padding: 0;
}

.survey-answer-form {
}
.survey-answer-form dl {
	margin: 0;
  padding: 0;
}
.survey-answer-form dl:not(:first-of-type) {
	padding: 0 0 0 40px;
}
.survey-answer-form dt {
	margin: 0;
	padding: 0;
}
.survey-answer-form dd {
	margin: 0;
	padding: 0 0 4pt 11pt;
	color: #331400;
}
.survey-answer-form h3 {
	border-top: 1px solid #F4DCCC;
	margin: 0;
	padding: 0;
	font-size: inherit;	
}
.survey-answer-form h3 img {
  float: left;
	padding: 4px 4px 4px 0;
}
