.user_form .form_box {
	width: 480px;
}
.user_form .form_label {
	width: 154px;
}
.user_form .form_field_box {
	left: +160px;
}
.user_form .form_submit_box {
	padding-left: 180px;
}
.user_form .form_submit {
}
