h3.user-info {
  font-size: 11pt;
	margin: 6px 0 0 0;
	padding: 0;
}
h3.user-info img {
  float: left;
  margin: 4px 4px 4px 0;
}
h3.user-info:not(:first-of-type) {
	margin-top: 6px;
	border-top: 1px solid #F4DCCC;
}
dl.user-info {
  margin: 0;
  padding: 0;
	overflow: hidden;
}
dl.user-info dt {
  margin: 0;
  padding: 0;
	float: left;
	width: 100px;
	color: #595959;
}
dl.user-info dd {
  margin: 0;
  padding: 0;
}
ul.user-info-actions {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
ul.user-info-actions li {
	margin: 0;
	padding: 0 6px 0 0;
	float: left;
}
