div.full_section {
	padding: 10px 5px 5px 15px;
}
h1.full_section, h2.full_section, h3.full_section {	
	background-color: #bdc7d8;
	border-top: solid 1px #3b5998;
	padding: 0px 5px;
	line-height: normal;
	margin: 0px 0px 3px 0px;
	position: relative;
	left: -5px; 
}
