[Unit]
Description=Docker Swarm Worker Agent
After=docker.service skydns-update@{{ skydns_name }}.service
Requires=docker.service
Wants=skydns-update@{{ skydns_name }}.service

[Service]
Type=simple
TimeoutStartSec=0
Environment="SWARM_DISCOVERY=etcd://
{%- set join_comma = joiner(",") -%}
{%- for etcd_server in groups[etcd_group_name] -%}
etcd-master{{ loop.index }}.clusterlocal:2379
{{- join_comma() -}}
{%- endfor -%}
/docker-swarm"
ExecStartPre=-/usr/bin/docker kill docker-swarm-worker
ExecStartPre=-/usr/bin/docker rm docker-swarm-worker
ExecStartPre=/usr/bin/docker pull swarm:{{ docker_swarm_tag }}
ExecStart=/usr/bin/docker run --name docker-swarm-worker \
    --volume=/etc/docker-swarm-worker:/etc/docker-swarm --net=host \
    swarm:{{ docker_swarm_tag }} join \
    --advertise={{ skydns_name }}.skydns.local:2376 \
    --discovery-opt="kv.cacertfile=/etc/docker-swarm/etcd_ca.pem" \
    --discovery-opt="kv.certfile=/etc/docker-swarm/etcd_cert.pem" \
    --discovery-opt="kv.keyfile=/etc/docker-swarm/etcd_key.pem" \
    $SWARM_DISCOVERY
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
KillMode=process

[Install]
WantedBy=multi-user.target
