<% if @email.length < 5 %>
	<span class="error-text"><%= invalid_icon_tag %> too short</span>	
<% else %>
	<% if @user %>
		<span class="error-text"><%= invalid_icon_tag %> taken</span>
	<% else %>
	  <%= valid_icon_tag %>
	<% end %>
<% end %>
