<% if @email.length < 5 %>
	<span class="error-text middle"><%= invalid_icon_tag %> too short</span>
<% else %>
	<% if @user %>
		<span class="error-text middle"><%= invalid_icon_tag %> taken</span>
	<% elsif !@email.chomp.end_with? '.edu' %>
		<span class="error-text middle">
			<%= invalid_icon_tag %> must be an .edu address
		</span>
	<% else %>
	  <span class="error-text middle"><%= valid_icon_tag %> available</span>
	<% end %>
<% end %>
