<% unless @users.empty? %>
<ol class="autocomplete-results">
	<% @users.each do |user| %>
	<li>
    <%= user_image_tag user %>
		<span class="name">
    <%= user.display_name_for @s_user %>
		</span>
  </li>
	<% end %>
</ol>
<% end %>
