<!-- users/recover_password -->
<div class="full_section">
	<h1 class="form_title">Recover login name/password</h1>

	<% form_for(User.new, :url => {:controller => :users, :action => :recovery_email, :id => 0}, :html => {:class => 'user_form'}) do |f| %>
		<div class="form_box">
			<div class="form_entry">
				<div class="form_label">MIT e-mail address</div>
				<div class="form_field_box">
					<%= f.text_field :email, :class => 'form_field', :tabindex => 1 %>
				</div>
			</div>
			<div class="form_submit_box">
			    <%= f.submit "Spam me", :class => 'form_submit', :tabindex => 3 %>
			</div>
		</div>
	<% end %>
</div>