<h2 class="form_title">Reset password</h2>

<%= form_for @user, :url => recovery_email_users_path,
                    :html => {:class => 'signup-form'} do |f| %>
  <dl>
  	<dt><%= f.label :email, '.edu e-mail' %></dt>
		<dd>
		  <%= f.text_field :email, :placeholder => 'the e-mail you used to register' %>
		</dd>
  </dl>
	
	<p><%= f.submit "Help!" %></p>
<% end %>
