<% if Course.main.has_recitations? %>
<h3>Availability</h3>

<p>
  Please only enter numbers for courses that you are registered for, or that you
  will be registered for by the time recitations are assigned. If a course
  overlaps part of a time slot, enter it in each of the time slots it overlaps.
  Enter a single course number per time slot.
</p>

<table class="timetable">
  <thead>
    <tr>
      <th>Time</th>
      <%= render 'registrations/time_slot_days_header' %>
    </tr>
  </thead>
  <tbody>
    <% @time_slot_periods.each do |period| %>
    <tr>
      <th><%= conflict_time_period_label period.first, period.last %></th>
      <% @time_slot_days.each do |day| %>
      <td>
        <%= conflict_input_tag f, @time_slots[period][day], conflicts %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
