<% if user.registration %>
<%= render 'registrations/show', :registration => user.registration %>
<% else %>
<div class="registration-container">
<h3>
  No registration for <%= Course.main.number %>
  <% if Registration.new(:user => user, :course => Course.main).
                     can_edit?(current_user) %>
  <%= link_to 'Register', :method => :get, :remote => true,
          :url => new_registration_path(:user_id => user.id,
                                        :course_id => Course.main.id) %>
  <% end %>
  <span id="registration-ajax-indicator"></span>
</h3>
</div>
<% end %>
