<h4>Recitation Section</h4>
<section class="recitation-section">
  <h5 class="recitation-section-name">
    <%= display_name_for_recitation_section section %>
  </h5>
  <%= render 'time_slots/list', time_slots: section.time_slots %>
</section>
