<div class="registration-container">
<h3>
  Registration for <%= registration.course.number %>
  <% if registration.can_edit? current_user %>
  <%= link_to edit_registration_path(registration), class: 'button' do %>
    <%= edit_icon_tag %> Edit Profile
  <% end %>
  <% end %>
</h3>
<%= render registration %>
</div>
