<div class="registration-container">
<h3>
  Registration for <%= registration.course.number %>
  <% if registration.can_edit?(current_user) %>
  <%= link_to 'Edit', :url => edit_registration_path(registration),
        :method => :get, :remote => true %>
  <% end %>
  <span id="registration-ajax-indicator"></span>
</h3>
<%= render registration %>
</div>
