<section class="fields">
  <%= f.text_field :prerequisite_number, placeholder: '6.01',
        label: 'Course number(s)' %>
  <%= f.text_field :waiver_question, placeholder: 'Programming experience',
        label: 'Question if Missing Prerequisite' %>
</section>
