<h2>Add Prerequisite</h2>

<%= foundation_form_for @prerequisite, url: prerequisites_url(@prerequisite,
      course_id: @prerequisite.course) do |f| %>

  <%= render 'prerequisites/fields', f: f %>

  <%= submit_button_tag do %>
    <%= save_icon_tag %> Save Prerequisite
  <% end %>
<% end %>
