<tr>
  <td>
    <%= @prerequisite.prerequisite_number %>
  </td>
  <td>
    <%= @prerequisite.waiver_question %>
  </td>
  <td>
    <%= link_to 'Edit', edit_prerequisite_path(@prerequisite) %>
    <%= link_to 'Remove', @prerequisite, :method => :delete %>
  </td>
</tr>