<h2>
  Submission for
  <%= @analysis.submission.deliverable.assignment.name %>
  <%= @analysis.submission.deliverable.name %>
</h2>

<p class="submission" data-pwnfx-scope="submission-info"
                      data-pwnfx-delayed-target="submission-info">
  <%= render 'submissions/info',
        :submission => @analysis.submission %>
</p>

<h3>Log</h3>

<div class="markdpwn-parsed-code">
<pre><%= @analysis.log %></pre>
</div>
