ol.exam-sessions-list {
  li {
    @include tab-panel-list-item;

    > .session-details {
      @include flex-grid-column(null, 1rem);
      @include flex-grid-row(null, null, null, true);

      .name {
        @include flex-grid-column(null, 1rem);
        margin-top: auto;
        margin-bottom: auto;
        font-weight: bold;
      }
      .time-range {
        width: 14em;
        @include flex-grid-column(shrink, 1rem);

        .time {
          display: inline-block;
          white-space: pre;
        }
      }
      .capacity {
        width: 10em;
        @include flex-grid-column(shrink, 1rem);
        margin-top: auto;
        margin-bottom: auto;
        font-style: italic;
        text-align: right;
      }
    }
    > .attendance-status {
      width: 12em;
      @include flex-grid-column(shrink, 2rem);
      button {
        margin: 0;
      }
    }
  }
}
