.all-grades {
  @include flex-grid-row(null, null, null, true);

  .grades-for-assignment {
    min-width: 25%;
    max-width: 90%;
    @include flex-grid-column(shrink);
  }
}
h3.assignment-name {
  margin-bottom: 0;
}
.grades-list {
  .metric-info {
    @include flex-grid-row(null, null, null, true);

    .metric-name {
      @include flex-grid-column(null);
      margin-bottom: 0;
    }
    .metric-weight {
      @include flex-grid-column(shrink);
    }
    .stats-summary {
      @include flex-grid-column(shrink);
    }
  }
  &:not(.show-comments) {
    .comments {
      display: none;
    }
  }
  .comments {
    color: $very-dark-gray;
    font-style: italic;

    > .comment {
      @include flex-grid-row(null, null, null, true);

      > .comment-text {
        @include flex-grid-column(null);
        margin-bottom: 0.2rem;
        text-align: justify;
      }
    }
  }
  .total {
    font-weight: bold;
  }
}
