ol {
  li .actions {
    text-align: right;

    > form {
      display: inline;
    }
    .link-button-wrapper > a, .button, form.button_to > input[type="submit"] {
      margin: 0.25rem;
    }
  }
}
