h2.registrant-name {
  margin-bottom: 0;
}
.registrant-email {
  color: $secondary-color;
}
section.registration-settings, section.prerequisite-answers,
section.recitation-section, section.recitation-conflicts {
  margin: 1rem 0 2rem;
}
.registration-setting, .prerequisite {
  @include flex-grid-row(null, null, null, true);
  margin-bottom: 0.5rem;

  .setting-name, .prerequisite-question {
    @include flex-grid-column(2);
    font-weight: bold;
  }
  .setting-value, .prerequisite-answer {
    @include flex-grid-column(6);
  }
}
