// General tabs and panels
section.submission-dashboard-container {
  .tabs-panel {
    width: 100%;
  }
}
ul#submission-dashboard-tabs {
  @include flex-grid-row(null, null, null, true);
}
[data-tabs-content="submission-dashboard-tabs"] {
  @include flex-grid-row(null, null, null, true);
  margin-bottom: 1rem;
}

// Deadline and extension
#overview-panel section.deadline {
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
    line-height: 1.4;
  }
  .due-date {
    font-size: 1.5rem;

    .date {
      font-weight: bold;
    }
  }
  .inapplicable {
    text-decoration: line-through;
    color: $dark-gray;
  }
  .extension {
    margin-top: 0.5rem;

    .grantor {
      display: inline-block;
    }
  }
  .original-deadline:not(.inapplicable), .extension {
    .date {
      color: darken($primary-color, 10%);
    }
  }
}

// Submission list item (overview panel only)
.main-submission, .analyzed-submission {
  h3 {
    margin-bottom: 0;
  }
  .submission-info {
    .promotion-status, a.remove-collaborator, .collaborator-form-toggle-button,
    .delete-submission-button {
      display: none;
    }
  }
}

// Placeholder for missing submission (overview/deliverable panels)
.blank-submission {
  @include tab-panel-list-item;
  justify-content: center;

  .no-submission-message {
    padding: 0.25rem;

    i.fa {
      margin-right: 0.2rem;
      color: $warning-color;
    }
  }
}

// Submission upload form
.new-submission-form {
  .input-group [type="file"] {
    @include form-element;
    height: auto;
    margin: 0;
    padding-left: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
