.survey-answer {
  @include flex-grid-row(null, null, null, true);
  margin-bottom: 0.5rem;

  > .prompt {
    @include flex-grid-column(6);
    text-align: right;
  }
  > .answer {
    @include flex-grid-column(6);

    > .numerical-answer {
      @include flex-grid-row(null, null, null, true);

      &.quantitative-scaled {
        justify-content: space-around;
        align-items: baseline;

        > .min-label, > .max-label {
          @include flex-grid-column(shrink, 1rem);
        }
        > [type="radio"] {
          margin: 0;
        }
      }
    }
    > .comment {
      margin-top: 0.5rem;
    }
  }
}
