table {
  border-collapse: collapse;
  width: auto;

  td:not(.actions) .button {
    margin: 0;
  }
  td.user-identification > .email {
    display: block;
  }
  input[type="datetime-local"], select {
    margin: 0;
    width: auto;
  }
}
td.actions {
  text-align: right;

  > form {
    display: inline;
  }
  button, .link-button-wrapper > a {
    font-size: map-get($button-sizes, small);
    margin: 0.25rem;
  }
}
tr.form-row td {
  input, select, button {
    margin-bottom: 1em;
  }
  input.is-invalid-input, select.is-invalid-input {
    margin-bottom: 0.5em;
  }
  .form-error {
    margin-bottom: 0;
  }
}
