[Unit]
Description=DelayedJob background worker for seven
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=seven_web
WorkingDirectory=/home/seven_web/seven
Environment=RAILS_ENV=production
Environment=DATABASE_URL=postgres:///seven_production
#Environment=DOCKER_TLS_VERIFY=1
Environment=DOCKER_HOST=unix:///var/run/docker.sock
#Environment=DOCKER_CERT_PATH=/home/seven_web/.docker
ExecStart=/home/seven_web/seven/bin/rake jobs:work
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=process

[Install]
WantedBy=multi-user.target
