[Unit]
Description=Application server for {{ app_name }}
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User={{ app_user }}
WorkingDirectory=/home/{{ app_user }}/{{ app_dir }}
Environment=RAILS_ENV=production
Environment=DATABASE_URL=postgres:///{{ app_db_name }}
Environment=PUMA_WORKERS={{ ansible_processor_vcpus }}
ExecStart=/home/{{ app_user }}/{{ app_dir }}/bin/puma --config config/puma.rb \
    --bind tcp://127.0.0.1:9000
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=process

[Install]
WantedBy=multi-user.target
