upstream {{ app_main_service }} {
  server 127.0.0.1:9000;
}

server {
  listen 443 ssl http2;
  listen 80;

  ssl_certificate /home/{{ app_user }}/{{ app_certs_config_dir }}/live/{{ app_certs_domain }}/fullchain.pem;
  ssl_certificate_key /home/{{ app_user }}/{{ app_certs_config_dir }}/live/{{ app_certs_domain }}/privkey.pem;
  ssl_trusted_certificate /home/{{ app_user }}/{{ app_certs_config_dir }}/live/{{ app_certs_domain }}/chain.pem;

  charset utf-8;
  root /home/{{ app_user }}/{{ app_dir }}/public;
  client_max_body_size 128M;
  error_page 404 /404.html;
  error_page 500 502 503 504 /500.html;
  try_files $uri @rails;

  location ~ ^/assets/ {
    try_files $uri @rails;
    add_header Cache-Control public;
    expires max;

    gzip_static on;
    gzip_comp_level 6;
    gzip_types *;
    gzip_vary on;

    open_file_cache max=1000 inactive=500s;
    open_file_cache_valid 600s;
    open_file_cache_errors on;
  }
  location ~ ^/.well_known/ {
    root /home/{{ app_user }}/{{ app_certs_www_dir }};
    try_files $uri @rails;

    open_file_cache max=10 inactive=600s;
    open_file_cache_valid 600s;
    open_file_cache_errors on;
  }
  location @rails {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $host;
    proxy_redirect off;
    proxy_connect_timeout 2;
    proxy_read_timeout 86400;
    proxy_pass http://{{ app_main_service }};
  }
}
