<div class="profile-photo-container">
  <%= user_image_tag user, size: :large %>
  <% if user.profile and user.profile.can_edit?(current_user) %>
    <%= link_to gravatar_signup_url(user) do %>
      Change Photo
    <% end %>
  <% end %>
</div>
