<% if user.profile and user.profile.editable_by_user?(current_user) %>
<div class="profile-photo-container">
  <%= link_to 'Change photo', :remote => true, :method => :get,
        :url => new_profile_photo_path(:profile_id => user.profile.id) %>
  <span id="profile-ajax-indicator"></span>
</div>
<% end %>
