<%= render 'submissions/filename_spec', default_prefix: nil,
       default_suffix: '_cover', extension: 'pdf',
       basename: (assignment.team_partition ? 'teamname' : 'username'),
       id: 'cover', name: 'Cover', title: 'Cover Sheet' %>

<% assignment.deliverables.each.with_index do |d, i| %>

<%= render 'submissions/filename_spec', default_prefix: nil,
       default_suffix: "_part#{i + 1}", extension: d.file_ext,
       basename: (assignment.team_partition ? 'teamname' : 'username'),
       id: d.id, name: d.name, title: d.name %>

<% end %>

<span data-pwnfx-move="submission-cutoff-deadline"
      data-pwnfx-move-method="replace" data-pwnfx-scope="grading-kit">
  <%= datetime_local_field_tag :submission_cutoff,
        assignment.due_at.to_s(:datetime_local_field) %>
</span>
