#!/bin/sh
#
# This script updates the node's IP address in the etcd store used by skydns.

set -o errexit     # Stop the script on the first error.
set -o nounset     # Catch un-initialized variables.
set +o histexpand  # No history expansion, because of arcane ! treatment.

IP_ADDRESS="$(ifdata -pa {{ cluster_net_interface }})"

etcdctl --peers="$ETCD_PEERS" --output=extended --ca-file=/etc/etcd/ca.pem \
    --cert-file=/etc/etcd/client_cert.pem --key-file=/etc/etcd/client_key.pem \
    set /skydns/local/skydns/$DNS_NAME \
    "{\"host\": \"$IP_ADDRESS\"}"
