// Sizes of various elements of the page layout.
// Do not change the values here. Instead, override them in _app.scss


// Vertical grid.
$column-width: 30px !default;
$column-margin: 10px !default;

// Page elements, expressed in terms of the grid.
$page-columns: 25 !default;
$sidebar-columns: 8 !default;

$header-height: 40px;

// Derived quantities that can't be changed without breaking things.
$column-total: $column-width + $column-margin; 

$page-width: ($column-total * $page-columns - $column-margin);
$sidebar-width: ($column-total * $sidebar-columns - $column-margin);
