dl.grades {
  margin: 0;
	padding: 0 0 2px 0;
	overflow: hidden;
  border-bottom: 1px solid #EABA99;
}
dl.grades:last-child {
	padding: 0;
	border-bottom: none;
}
dl.grades dt {
	float: left;
	width: 9em;
	margin: 0;
	padding: 0;
	color: #595959;
}
dl.grades dd {
	float: left;
	width: 6em;
	margin: 0;
	padding: 0 0.6em 0 0;
  color: #5E2600;
}
dl.grades span.score {
	display: inline-block;
	text-align: right;
	width: 3em;
}
dl.grades span.max-score {
	display: inline-block;
	text-align: right;
	width: 1.7em;
}
