<div class="row">
  <div class="small-3 columns">
    <%= f.label :name, class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.text_field :name, placeholder: 'Lab 1 Survey', required: true,
                            autofocus: true %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <%= f.label :due_at, 'Response Deadline', class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.datetime_local_field :due_at, step: 1 %>
  </div>
</div>
