<h2>Course Information</h2>

<%= foundation_form_for @course do |f| %>
  <%= render 'courses/fields', f: f %>

  <%= submit_button_tag do %>
    <%= save_icon_tag %> Update Course
  <% end %>
<% end %>
