<span class="collaborator-display-name">
  <%= collaborator_display_name(collaboration.collaborator) %>
  <%= link_to destroy_icon_tag, collaboration_path(collaboration,
        course_id: collaboration.course), method: :delete %>
</span>
