<%= form_for new_collaboration(@collaboration, submission),
      url: submission_collaborations_path(course_id: submission.course,
      submission_id: submission) do |f| %>
  <p class="field">
    <span class="value">
      <%= f.text_field :collaborator_email, placeholder: 'jdoe@mit.edu' %>
    </span>
    <%= button_tag class: 'image_button' do %>
      <%= create_icon_tag %> Add collaborator
    <% end %>
  </p>
<% end %>
