<h2>Staff Members</h2>

<ul class="tabs" data-tabs id="staff-role-tabs">
  <li class="tabs-title is-active">
    <a href="#approved-staff">
      Current Staff (<%= @roles.length %>)
    </a>
  </li>
  <li class="tabs-title">
    <a href="#pending-staff">
      Pending Staff Registrations (<%= @role_requests.length %>)
    </a>
  </li>
</ul>

<div class="tabs-content" data-tabs-content="staff-role-tabs">
  <div class="tabs-panel is-active" id="approved-staff">
    <%= render 'role_requests/approved_staff' %>
  </div>
  <div class="tabs-panel" id="pending-staff">
    <%= render 'role_requests/pending_staff' %>
  </div>
</div>
