# /etc/default/docker-network
# /etc/sysconfig/docker-network
DOCKER_NETWORK_OPTIONS="--tlsverify --tlscacert=/etc/docker/ca.pem --tlscert=/etc/docker/server-cert.pem --tlskey=/etc/docker/server-key.pem --host=tcp://0.0.0.0:2376 --host=unix:///var/run/docker.sock"
