This is the main {{ app_name }} frontend server.

The Web server is running as the {{ app_main_service }} systemd service.
start:  sudo systemctl stop {{ app_main_service }}
stop:   sudo systemctl start {{ app_main_service }}
start:  sudo systemctl status {{ app_main_service }}
logs:   sudo journalctl -u {{ app_main_service }}

The job worker is running as the {{ app_queue_service }} systemd service.
start:  sudo systemctl stop {{ app_queue_service }}
stop:   sudo systemctl start {{ app_queue_service }}
start:  sudo systemctl status {{ app_queue_service }}
logs:   sudo journalctl -u {{ app_queue_service }}

Application commands should be run under the {{ app_user }} user.
The application code is at {{ app_dir }}/ inside the user's home directory.
  sudo -u {{ app_user }} -i
  cd {{ app_dir }}

Starting a Rails console requires a few environment variables.
  RAILS_ENV=production DATABASE_URL=postgres:///{{ app_db_name }} bin/rails c

The {{ app_user }} user is configured to access the Docker swarm cluster.
  docker info
  docker ps -a
  docker images -a

The application's repository (which should include operating docs) is at:
  {{ app_git_repo }}

Good luck!
