.analyzer-help {
  > h3 {
    margin-top: 1.5rem;
    clear: both;
  }
  span.file-name {
    font-weight: bold;
  }
  span.variable {
    font-style: italic;
  }
  code {
    font-family: monospace;
    color: #a35a29;
  }
  figure {
    float: right;
  }
  section {
    overflow: auto;
    margin-top: 0.5rem;
  }
}
