.assignment-builder-actions {
  padding: 0 0 0 4em;
}

@mixin assignment-builder-table {
  display: table;
  width: 100%;

  p {
    display: table-row;
    
    > span {
      display: table-cell;
      padding: 1px 2px;
      
      > span.field_with_errors {
        display: block;
        width: 100%;
      }
      
      > input[type=text], input[type=email], input[type=tel],
        input[type=password], input[type=search], input[type=number], textarea {
        box-sizing: border-box;
        -moz-box-sizing: border-box; 
        width: 100%;
      }
    }
  }  
}

.assignment-builder-deliverables {
  @include assignment-builder-table;
  
  span.file-type {
    width: 8em;
  }
  
  p.description {
    display: block;
    span {
      display: block;
      textarea {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
}

.assignment-builder-metrics {
  @include assignment-builder-table;
}

.assignment-builder .error-explanation {
  margin: 0 0.5em 1em;
}

section.deliverable {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #B18566;
  &:last-of-type {
    border-bottom: none;
  }
  margin-bottom: 0.5em;
}

// Uncomment to hide the "Assignment Builder" heading.
// We're keeping it in for now, because the UI is confusing without it.
// 
// .assignment-builder-heading {
//   display: none;
// }
// .assignment-builder {
//   margin: 1em 0 0 0;
// }
