section.assignment {
  > .heading {
    font-size: 1.44em;
  }
  > .sub-heading {
    font-size: 1.33em;
    margin-top: 1rem;
  }
  > .deadline {
    margin: 0.5ex 0 1em 0;

    > .inapplicable {
      text-decoration: line-through;
    }
    > .extension {
      font-weight: bold;
    }
  }

  ul.deliverables {
    display: table;
    width: 100%;

    li {
      display: block;

      .summary {
        display: table-row;
        width: 100%;

        .name {
          display: table-cell;
          font-size: 1.1em;
        }
        .new {
          display: table-cell;
        }
      }
      .details {
        display: block;

        .description {
          display: block;
          color: hsl(0deg, 0%, 35%);
        }
        .submissions {
          display: block;
          padding: 0.5ex 0;

          .submission {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  table.files {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1rem;

    .file-name {
      width: 25%;
      word-wrap: break-word;
    }
    .description {
      width: 35%;
      word-wrap: break-word;
    }
    .size {
      width: 15%;
    }
    .uploaded {
      width: 25%
    }
  }

  border-bottom: 1px solid #B18566;
  &:last-child {
    border-bottom: none;
  }
}

h2 span.actions form {
  display: inline-block;
}
