section.assignment {
  > .heading {
    font-size: 1.44em;
  }
  > p:first-child {
    margin: 0.5ex 0 1em 0;
  }

  ul.deliverables {
    display: table;
    width: 100%;
    
    li {
      display: block;
      
      .summary {
        display: table-row;
        width: 100%;
        
        .name {
          display: table-cell;
          font-size: 1.1em;
        }
        .new {
          display: table-cell;
        }
      }
      .details {
        display: block;
        
        .description {
          display: block;
          color: hsl(0deg, 0%, 35%);
        }
        .submission {
          display: block;
          padding: 0.5ex 0;
        }
      }
    }
  }

  border-bottom: 1px solid #B18566;
  &:last-child {
    border-bottom: none;
  }
}
