ol.assignments-summary {
  font-size: 1.2em;
  line-height: 1.2em;
        
  li {
    .name {
      font-size: 1.2em;
      line-height: 1.2em;
      font-weight: bold;
      display: block;
    }
    .weight {
      float: right;
    }
  }
}
