.assignment-builder h3 {
  margin-top: 0.75em;
  border-top: 2px solid $header-border-color;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.assignment-builder-actions {
  padding: 0 0 0 4em;
}

.assignment-builder-deliverables {
  p.header {
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: flexbox;
    
    -webkit-flex-align: baseline;
    -moz-flex-align: baseline;
    flex-align: baseline;
    
    input.name {
      width: -webkit-flex(1);
      width: -moz-flex(1);
      width: flex(1);
    }
    input.file-ext {
      width: 4em;
    }
    > input, select, span {
      display: block;
      margin: 0 0.2em 0 0;
    }
  }
  
  p.description {
    display: block;
    span {
      display: block;
      textarea {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
}

.assignment-builder-metrics {
  display: table;
  width: 100%;

  p {
    display: table-row;
    
    > span {
      display: table-cell;
      padding: 1px 2px;
      
      > span.field_with_errors {
        display: block;
        width: 100%;
      }
      
      > input[type=text], input[type=email], input[type=tel],
        input[type=password], input[type=search], input[type=number], textarea {
        box-sizing: border-box;
        -moz-box-sizing: border-box; 
        width: 100%;
      }
    }
  }  
}

.assignment-builder .error-explanation {
  margin: 0 0.5em 1em;
}

section.deliverable {
  padding-bottom: 0.5em;
  border-bottom: 1px solid $header-border-color;
  &:last-of-type {
    border-bottom: none;
  }
  margin-bottom: 0.5em;
}

// Uncomment to hide the "Assignment Builder" heading.
// We're keeping it in for now, because the UI is confusing without it.
// 
// .assignment-builder-heading {
//   display: none;
// }
// .assignment-builder {
//   margin: 1em 0 0 0;
// }
