.dashboard-heading {
  position: relative;
  > progress {
    position: absolute;
    height: 0.70em;
    bottom: 0.15em;
    right: 0px;
  }
}
.dashboard-list {
  display: table;
  width: 100%;

  li {
    display: table-row;

    > span {
      display: table-cell;
      width: 33%;
      > meter {
        display: block;
        width: 100%;
      }
    }
    > span:last-child {
      text-align: right;
    }
  }

  .submission-list {
    display: block;
    margin-right: -5px;
    margin-left: -5px;

    li {
      display: inline-block;
      figure {
        position: relative;
        border: none;
        margin: none;
        padding: 5px;
        img {
          border-radius: 4px;
          &:first-child {
            width: 50px !important;
            height: 50px !important;
          }
          &:last-child {
            position: absolute;
            right: 1px;
            bottom: 1px;
          }
        }
      }
    }
  }
}
