.deadlines-heading {
  padding-left: (0.25 * $column-total);
}
ol.deadlines {
  display: block;
  width: 100%;
  font-size: 1.1em;
  line-height: 1.2em;

  li {
    display: block;
    padding: 0.4em 0 0.2em 0;
    border-bottom: 1px solid $header-border-color;

    div.heading {
      display: -moz-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      padding: 0 0 0 (0.25 * $column-total);
      width: 100%;

      span.icon {
        display: inline-block;
        width: (0.75 * $column-total);
        img {
          position: relative;
          top: (0.25 * $column-total);
        }
      }
      span.date {
        display: block;
        width: (2 * $column-total);
      }
      span.assignment {
        display: block;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -webkit-flex: 1 1 0%;
        flex: 1 1 0%;
      }
    }
    div.description {
      padding: 0 0 0 (1 * $column-total);
    }

    &.deadline-overdue, &.deadline-done, &.deadline-missed {
      background-color: change-color($main-color1,
          $saturation: 10%, $lightness: 98%);
      color: lighten($text-color, 35%);
      a {
        color: lighten($text-color, 35%);
      }
    }
  }
}
