ol.deadlines {
  display: table;
  width: 100%;
  
  li {
    display: table-row;
  }
  li span {
    display: table-cell;
  }
  li span.date {
    width: (2 * $column-total);
  }

  li.deadline-overdue {
    color: #7E3300;
  }
  li.deadline-done {
    color: #99A0EF;
  }
  li.deadline-missed {
    color: #EABA99;
    text-decoration: line-through;
  }
  li a {
    color: inherit;
  }
}
