h2.feed-header { display: none; }

.feed-item {
	margin: 8px 0 6px 0;
	padding: 0 0 0 24px;
	overflow: hidden;
	position: relative;
	min-height: 20px;
  .author img {
    position: absolute;
    left: 0px;
    border-radius: 2px;
  }
  .action-bar {
    clear: both;
  }


  .headline {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-weight: 400;
    color: hsl(0deg, 0%, 0%);

    h4 {
      margin: 0;
      padding: 0;
      font-size: 12pt;
      font-weight: 400;
      color: hsl(0deg, 0%, 0%);
    }
    .author {
      font-weight: bold;
    }
  }

  // Story.
  > p {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-weight: 300;
  }
  .footer {
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 12pt;
    font-weight: 200;
    p {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
    ul.actions {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-weight: 400;
      li {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  // Replies.
  .replies {
    margin: 0;
    padding: 0;

    .feed-item {
      margin: 2px 0 4px 0;
    }
  }
}



