@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: font-url('SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: font-url('SourceSansPro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: font-url('SourceSansPro/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: font-url('SourceSansPro/SourceSansPro-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: font-url('SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: font-url('SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: font-url('SourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: font-url('SourceSansPro/SourceSansPro-SemiboldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: font-url('SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: font-url('SourceSansPro/SourceSansPro-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 800;
  src: font-url('SourceSansPro/SourceSansPro-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 800;
  src: font-url('SourceSansPro/SourceSansPro-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: font-url('SourceCodePro/SourceCodePro-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: font-url('SourceCodePro/SourceCodePro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: font-url('SourceCodePro/SourceCodePro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: font-url('SourceCodePro/SourceCodePro-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: font-url('SourceCodePro/SourceCodePro-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: font-url('SourceCodePro/SourceCodePro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 800;
  src: font-url('SourceCodePro/SourceCodePro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: font-url('Dosis/Dosis-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: font-url('Dosis/Dosis-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: font-url('Dosis/Dosis-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: font-url('Dosis/Dosis-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: font-url('Dosis/Dosis-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: font-url('Dosis/Dosis-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: font-url('Dosis/Dosis-ExtraBold.ttf') format('truetype');
}




@font-face {
  font-family: "Tinos";
  font-style: normal;
  font-weight: normal;
  src: font-url("Tinos/Tinos-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Tinos";
  font-style: normal;
  font-weight: bold;
  src: font-url("Tinos/Tinos-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Tinos";
  font-style: italic;
  font-weight: normal;
  src: font-url("Tinos/Tinos-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Tinos";
  font-style: italic;
  font-weight: bold;
  src: font-url("Tinos/Tinos-BoldItalic.ttf") format("truetype");
}
