@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: normal;
  src: font-url("Droid_Sans/DroidSans.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: bold;
  src: font-url("Droid_Sans/DroidSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: normal;
  src: font-url("Droid_Serif/DroidSerif.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: bold;
  src: font-url("Droid_Serif/DroidSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: normal;
  src: font-url("Droid_Serif/DroidSerif-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: bold;
  src: font-url("Droid_Serif/DroidSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: font-url("Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: font-url("Open_Sans/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: font-url("Open_Sans/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: font-url("Open_Sans/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: font-url("Open_Sans/OpenSans-SemiboldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: font-url("Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Tinos";
  font-style: normal;
  font-weight: normal;
  src: font-url("Tinos/Tinos-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Tinos";
  font-style: normal;
  font-weight: bold;
  src: font-url("Tinos/Tinos-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Tinos";
  font-style: italic;
  font-weight: normal;
  src: font-url("Tinos/Tinos-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Tinos";
  font-style: italic;
  font-weight: bold;
  src: font-url("Tinos/Tinos-BoldItalic.ttf") format("truetype");
}


@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: font-url("Ubuntu.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: normal;
  src: font-url("Ubuntu-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  src: font-url("Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: bold;
  src: font-url("Ubuntu-BoldItalic.ttf") format("truetype");
}
