section.grades-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 90px;
}

table.grades-table {
  position: relative;

  tbody {
    overflow: auto;

    tr:hover {
      background-color: change-color(#F5DCCC, $lightness: 98%);
    }
    tr.focused {
      background-color: change-color(#F5DCCC, $lightness: 96%);
    }
    tr.hidden {
      display: none;
    }
  }
  th[scope=col] {
    font-weight: 600;
  }
  th[scope=row] {
    font-weight: 400;
  }
  th, td {
    white-space: nowrap;
  }
  td {
    text-align: right;

    input[type=number] {
      width: 3em;
      text-align: right;
      background-color:  hsl(0deg, 0%, 100%);

      ~ div.comment > textarea:not(:focus) {
        display: none;
        + span {
        display: none;
        }
      }
      &:focus ~ div.comment > textarea {
        display: inherit;
        & + span {
          display: inherit;
        }
      }
    }
    .max-points {
      font-weight: 300;
    }
    div.comment {
      position: absolute;
      margin: 3px 0px 0px -3px;
      box-shadow: 2px 1px 3px #666;
      background: #F1D7C6;
      textarea {
        float: right;
        max-width: 300px;
        background: #fff;
      }
      span {
        float: left;
        padding: 3px;
        &:after {
          content: "";
          position: absolute;
          left: 3px;
          top: -8px;
          border-bottom: 8px solid #F1D7C6;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
      }
    }
  }
}

span.progress-indicator {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  position: relative;

  background: transparent;

  &.upload-pending {
    background-image: image-url('ajax-loader.gif');
  }
  &.upload-win {
    background-image: image-url('icons/upload_win.png');

    -webkit-animation-name: progress-indicator-flash;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2s;
    animation-name: progress-indicator-flash;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
  }
  &.upload-fail {
    background-image: image-url('icons/upload_fail.png');
    -webkit-animation-name: progress-indicator-flash;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 5s;
    animation-name: progress-indicator-flash;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
  }
}

@-webkit-keyframes progress-indicator-flash {
  0%, 100% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
}
@keyframes progress-indicator-flash {
  0%, 100% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
}

