section.grades-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 90px;
}

table.grades-table {
  position: relative;

  tbody {
    overflow: auto;

    tr:hover {
      background-color: change-color(#F5DCCC, $lightness: 98%);
    }
    tr.focused {
      background-color: change-color(#F5DCCC, $lightness: 96%);
    }
    tr.hidden {
      display: none;
    }
  }
  th[scope=col] {
    font-weight: 600;
  }
  th[scope=row] {
    font-weight: 400;
  }
  th, td {
    white-space: nowrap;
  }
  td {
    text-align: right;

    input[type=number] {
      width: 3em;
      text-align: right;
      background-color:  hsl(0deg, 0%, 100%);
    
      & ~ div.comments > textarea:not(:focus) {
        display: none;
        & + span {
        display: none;
        }
      }
      &:focus ~ div.comments > textarea {
        display: inherit;
        & + span {
        display: inherit;
        }
      }
    }
    .max-points {
      font-weight: 300;
    }
    div.comments {
      position: absolute;
      margin: 3px 0px 0px -3px;
      box-shadow: 2px 1px 3px #666;
      background: #F1D7C6;
      textarea {
        float: right;
        max-width: 300px;
        background: #fff;
      }
      span {
        float: left;
        padding: 3px;
        &:after {
          content: "";
          position: absolute;
          left: 3px;
          top: -8px;
          border-bottom: 8px solid #F1D7C6;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
      }
    }
  }
}

span.progress-indicators {
  display: inline-block;
  vertical-align: middle;

  img {
    display: inline-block;
    position: absolute;
    opacity: 1;

    &:last-child {
      position: static;
    }
    &.hidden {
      opacity: 0;
    }
    &.flash {
      -moz-transition-duration: 1000ms;
      -moz-transition-property: opacity;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-property: opacity;
      -webkit-transition-timing-function: ease-in-out;
      -webkit-transition-duration: 1000ms;
      transition-duration: 1000ms;
      transition-property: opacity;
      transition-timing-function: ease-in-out;
    }
  }
}

