section.grades-table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

table.grades-table {
  position: relative;

  tbody {
    overflow: auto;

    tr:hover {
      background-color: change-color(#F5DCCC, $lightness: 98%);
    }
    tr.focused {
      background-color: change-color(#F5DCCC, $lightness: 96%);
    }
    tr.hidden {
      display: none;
    }
  }
  th[scope=col] {
    font-weight: 600;
  }
  th[scope=row] {
    font-weight: 400;
  }
  th, td {
    white-space: nowrap;
  }
  td {
    text-align: right;

    input[type=number] {
      width: 3em;
      text-align: right;
      background-color:  hsl(0deg, 0%, 100%);
    
      & ~ div.comments > textarea:not(:focus) {
        display: none;
      }
      &:focus ~ div.comments > textarea {
        display: inherit;
      }
    }
    .max-points {
      font-weight: 300;
    }
    div.comments {
      position: absolute;
      z-index: 100;
      background: #fff;
    }
  }
}

span.progress-indicators {
  display: inline-block;
  vertical-align: middle;

  img {
    display: inline-block;
    position: absolute;
    opacity: 1;

    &:last-child {
      position: static;
    }
    &.hidden {
      opacity: 0;
    }
    &.flash {
      -moz-transition-duration: 1000ms;
      -moz-transition-property: opacity;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-property: opacity;
      -webkit-transition-timing-function: ease-in-out;
      -webkit-transition-duration: 1000ms;
      transition-duration: 1000ms;
      transition-property: opacity;
      transition-timing-function: ease-in-out;
    }
  }
}

