.grades-list-heading {
  display: none;
}

label.show-comments {
  margin-left: 20px;
  vertical-align: top;
  & button {
    margin-top: -6px;
    font-size: 0.6em;
  }
}

div.grades {
  margin: 0;
	padding: 0 0 10px 0;
	overflow: hidden;
  border-bottom: 1px solid #EABA99;
  
  //-moz-column-width: ($column-total * 7 - $column-margin);
  //-moz-column-gap: $column-total;
  //-webkit-column-width: ($column-total * 7 - $column-margin);
  //-webkit-column-gap: $column-total;
  //column-width: ($column-total * 7 - $column-margin);
  //column-gap :$column-total;
  
  &:last-child {
    padding: 0;
    border-bottom: none;
  }
  & > div {
    float: left;
    padding: 0px 30px 0px 3px;
    margin: 1px 20px 1px 0px;
    display: inline-block;
    width: 277px;
    
    &.problem:nth-child(3n+1) {
      clear: both;
    }

    &.total {
    font-weight: bold;
    color: #292929;
    }
    &.problem {
      color: #595959;
      &:hover {
      background-color: change-color(#F5DCCC, $lightness: 95%);
      }
    }
   &.comments {
    display: none;
    margin-bottom: 15px;
    
    & > span.comment-head {
      color: #595959;
      padding-right: 8px;
    }
    }
  }
  
  span.assignment-name {
    display: inline-block;
    width: ($column-total * 4 - $column-margin);
    margin: 0 $column-margin 0 0;
  }
  span.scores {
    display: inline-block;
    width: ($column-total * 3 - $column-margin);
    text-align: right;
    color: #595959;
  }
  span.score {
    display: inline-block;
    text-align: right;
    width: $column-width;
    color: #5E2600;
  }
  span.max-score {
    display: inline-block;
    text-align: right;
    width: $column-width;
    color: change-color(#5E2600, $saturation: 40%, $lightness: 35%);
  }
  input[type=checkbox]:checked {
    &~ div.total {
      width: 90%;
      display: block;
      margin-bottom: 15px;
    }
    &~ div.problem {
      clear: both;
    }
    &~ div.comments {
      display: inherit;
      float: left;
    }
  }
}
