table.recitations {
  width: 100%;

  col.serials { width: 10%; }
  col.leaders { width: 20%; }
  col.times { width: 35%; }
  col.location { width: 10%; }
  col.student-counts { width: 10%; }
  /* The 'Edit' and 'Remove' columns each get 7.5% of the total width. */
  col.actions { width: 7.5%; }
}
