section.signup {
  font-size: 14pt;
  line-height: 18pt;
}
section.signup h2 {
  font-size: 24pt;
  line-height: 30pt;
}

section.signup .field > label {
  width: 12em;
}
section.signup .comment {
  width: 20em;
}
