<h2>Deadlines</h2>

<dl class="deadlines">
<% deadlines.each do |d| %>
  <dt>
    <%= (d.kind_of?(Assignment) ? d : d.assignment).deadline.to_s(:deadline_short) %>
  </dt>
  <dd>
    <%= link_to d do %>
      <%= d.kind_of?(Assignment) ? "Feedback for #{d.name}" : "#{d.name} for #{d.assignment.name}" %>
    <% end %>
  </dd>
<% end %>
</dl>
