<!-- layout/footer -->
<div id="site_footer">
    <div id="site_footer_icons">
        <a href="http://validator.w3.org/check/referer"><img style="width: 88px; height: 31px" src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0!"/></a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="width: 88px; height: 31px" src="http://www.w3.org/Icons/valid-css2-blue.png" alt="Valid CSS level 2!"/></a>
    </div>
	<div id="site_footer_text">
		&copy; MIT 2008
		<div class="float_clearer" />
	</div>
</div>