<!-- layout/footer -->
<div id="site_footer">
	<div id="site_footer_text">
		<p>
			&copy; Copyright 2008-2010
			<a href="http://web.mit.edu/">Massachusetts Institute of Technology</a>.
			Designed by <a href="http://www.costan.us">Victor Costan</a>.
		</p>
		<div class="float_clearer" />
	</div>
</div>
