<footer id="footer">
  <div class="useful-links">
    <ul class="menu">
      <li class="source-link">
        <a href="https://github.com/pwnall/seven">
          <%= fa_icon :github %><span>Source Code</span>
        </a>
      <li class="feedback-link">
        <a href="https://github.com/pwnall/seven/issues/new">Report an issue</a>
      </li>
    </ul>
  </div>
  <div class="credits">
    <p class="designers text-center">
      Designed by <a href="https://github.com/spark008">Staphany Park</a> and
      <a href="http://www.costan.us">Victor Costan</a>
    </p>
  </div>
</footer>
