<h2>Groups</h2>

<dl class="groups">
<% @s_user.teams.includes(:partition, :users => :profile).sort_by(&:created_at).
           reverse.each do |team| %>
  <dt>
    <%= team.partition.name %>: <%= team.name %>
  </dt>
  <dd>
  	<ul>
  	<% (team.users - [@s_user]).sort_by { |u| u.display_name_for @s_user }.each do |user| %>
		  <li>
  			<%= user_image_tag user %>
	   		<%= link_to user.display_name_for(@s_user), @s_user, :class => 'name'%>
			</li>
		<% end %>
		</ul>
  </dd>
<% end %>
</dl>
