<hgroup>
  <h1>
    <%= image_tag 'mit-blackred-footer3.gif', :alt => '' %>
    <span class="course-number">
      <%= link_to Course.main.number, root_path %>
    </span>
  </h1>

  <% if current_user %>
  <%= render 'sessions/menu' %>
  <% end %>
</hgroup>
