<header id="header">
  <nav class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <%= render 'menu/courses_menu' %>
      </ul>
    </div>

    <% if current_user %>
    <div class="top-bar-right">
      <%= render 'menu/account_menu' %>
    </div>
    <% end %>
  </nav>
</header>
