<div id="menu">
<% if @s_user %>
 
  <% if @s_user.admin? %>
  <%= render 'layouts/admin_console' %>
  <% end %>

  <h2>Account</h2>
  <ol>
    <li>Logout</li>
  </ol>
<% else %>
  <h2>Login</h2>
	<%= render 'sessions/login_form' %>
	
  <h2>Account</h2>
	<ol>
		<li><%= link_to 'Register', new_user_path %></li>
		<li>
			<%= link_to 'Click here to recover username/password',
                  recover_password_users_path %>
    </li>
	</ol>
<% end %>
</div>
