<div class="new-feed-item">
	<div class="new-feed-item-type-selector">
	  <h2>New </h2>
	  <ul>
	    <li>
	      <%= link_to 'Submission', new_submission_path, :remote => true %>
	    </li>
	    <li>
	      <%= link_to 'Survey Answers', new_survey_answer_path, :remote => true %>
	    </li>
	  </ul>		
	</div>
	<div class="new-feed-item-form-container"></div>
</div>
