<div class="new-feed-item">
	<div class="new-feed-item-type-selector">
	  <h2>New </h2>
	  <ul>
	    <li>
        <%= link_to_remote 'Submission', :url => new_submission_path,
              :method => :get,
              :before => update_page { |p|
                 p.select('.new-feed-item-form-container').each { |element|
                   element.update loading_image_tag
                 }
              }
        %>
	    </li>
	    <li>
	      <%= link_to_remote 'Survey Answers',
              :url => assignment_picker_survey_answers_path, :method => :get,
              :before => update_page { |p|
                 p.select('.new-feed-item-form-container').each { |element|
                   element.update loading_image_tag
                 }
              }
        %>
	    </li>
	  </ul>		
	</div>
	<div class="new-feed-item-form-container"></div>
</div>
