<div class="new-feed-item">
	<div class="new-feed-item-type-selector">
	  <h2>New </h2>
	  <ul>
      <% if current_user.admin? %>
      <li>
        <%= link_to_remote 'Announcement', :url => new_announcement_path,
              :method => :get,
              :before => update_page { |p|
                 p.select('.new-feed-item-form-container').each { |element|
                   element.update loading_image_tag
                 }
              }
        %>        
      </li>
      <% end %>
	    <li>
        <%= link_to_remote 'Submission', :url => new_submission_path,
              :method => :get,
              :before => update_page { |p|
                 p.select('.new-feed-item-form-container').each { |element|
                   element.update loading_image_tag
                 }
              }
        %>
	    </li>
	    <li>
	      <%= link_to_remote 'Survey Answers', :url => new_survey_answer_path,
              :method => :get,
              :before => update_page { |p|
                 p.select('.new-feed-item-form-container').each { |element|
                   element.update loading_image_tag
                 }
              }
        %>
	    </li>
	  </ul>		
	</div>
	<div class="new-feed-item-form-container"></div>
</div>
