<h2 class="feed-header">Activity Feed</h2>

<% FeedItem.for(current_user).each do |item| %>
<% next if @news_flavor and item.flavor != @news_flavor %>
<%= render 'layouts/feed_item', feed_item: item %>
<% end %>
